{{ define "extrahead" }}
{{ $sassTemplate := resources.Get "style/processCard.scss" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/processCard.scss" . | resources.ToCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
{{ $sassTemplate := resources.Get "style/quizCard.scss" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/quizCard.scss" . | resources.ToCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
{{ $sassTemplate := resources.Get "style/textslider.scss" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/textslider.scss" . | resources.ToCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
<!-- {{ $sassTemplate := resources.Get "style/graphCircle.scss" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/graphCircle.scss" . | resources.ToCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen"> -->
<link href="./style/service.css" rel="stylesheet">
{{ end }}

{{ define "extraScript" }}
<script src="./js/processCard.js"></script>
<!-- <script src="./js/graphCircle.js"></script> -->
{{ end }}

{{ define "main" }}
<!-- TextSlider 3 -->
<section class="px-0 py-5 px-lg-5">
  <div class="container">
      <div class="row justify-content-center"> 
          <div class="col-10  col-sm-10  col-lg-10 col-xl-8  align-self-center motivationText">
              <div class="large-3 columns nopad border-bot aos-init aos-animate" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500"></div>
              <div class="subheading aos-init aos-animate" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
                      <h2>{{ (index .Params.slides 0).caption | safeHTML}}</h2>
              </div>
              <div class="large-3 columns nopad border-bot aos-init aos-animate" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500"></div>
              <div class="header-text aos-init aos-animate" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
                      <p>{{ (index .Params.slides 0).description | safeHTML}}
          </p>         
              </div>
          </div>
      </div>
  </div>
</section>
<!-- End TextSlider 3 -->
<!---Quiz -->
<section class="quiz pb-5 pt-5">
  <div class="container">
      <div class="row justify-content-center"> 
        {{ $bgImageFront := .Params.quizbgimagefront }}
        {{ $bgImageBack := .Params.quizbgimageback }}
        {{ range .Params.quizcards }}
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 p-0 p-xl-0">
          <div class="parallaxCard">
            <div class="cardcontainer">
              <div class="cardfront cardside" {{ if isset . "bgimagefront"}} style='background-image: url("{{ .bgimagefront | absURL }}");' {{ else if $bgImageFront }} style='background-image: url("{{ $bgImageFront | absURL }}");' {{ end }}>
                <div class="parallaxContent">
                  <h1>{{ .titlefront | safeHTML }}</h1>
                  <p>{{ .textfront | safeHTML }}</p>
                </div>
              </div>
              <div class="cardback cardside" {{ if isset . "bgimageback"}} style='background-image: url("{{ .bgimageback | absURL }}");' {{ else if $bgImageBack }} style='background-image: url("{{ $bgImageBack | absURL }}");' {{ end }}>
                <div class="parallaxContent">
                  <h1>{{ .titleback | safeHTML }}</h1>
                  <p>{{ .textback | safeHTML }}</p>
<!--              {{ if eq .graphtype 1 }}
                  {{ else if eq .graphtype 2 }}
                  {{ end }} -->
                </div>
              </div>
            </div>
          </div>
      </div>
      {{ end }}
      </div>
  </div>
</section>
<!---End Quiz -->
<!---Process -->
<section class="p-0  pb-5 pt-5">
  <div class="container">
      <div class="row justify-content-center"> 
        {{ partial "processCard.html" . }}
      </div>
  </div>
</section>
<!---End Process -->
<!---Links -->
<section class="p-0  pb-5 pt-5">
  <div class="container">
      <div class="row no-gutters"> 
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
          <div class="card border-white" >
              <a href="https://articles.bplans.com/a-nonprofits-ultimate-guide-to-social-media-marketing/">
                <img class="card-img-top" src="https://via.placeholder.com/340x180" alt="Card image cap">
              </a>
              <div class="card-body">
                  <a href="https://articles.bplans.com/a-nonprofits-ultimate-guide-to-social-media-marketing/">
                    <h4 class="card-title">A Nonprofit’s Ultimate Guide to Social Media Marketing</h4>
                  </a>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                
              </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card border-white" >
                <a href="https://articles.bplans.com/a-nonprofits-ultimate-guide-to-social-media-marketing/">
                <img class="card-img-top" src="https://via.placeholder.com/340x180" alt="Card image cap">
                </a>
                <div class="card-body">
                    <a href="https://articles.bplans.com/a-nonprofits-ultimate-guide-to-social-media-marketing/">
                      <h4 class="card-title">A Nonprofit’s Ultimate Guide to Social Media Marketing</h4>
                    </a>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  
                </div>
              </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card border-white" >
                <a href="https://articles.bplans.com/a-nonprofits-ultimate-guide-to-social-media-marketing/">
                <img class="card-img-top" src="https://s3.amazonaws.com/pas-wordpress-media/content/uploads/2015/02/nonprofitsocialmedia-e1423610574896-653x339.jpg" alt="Card image cap">
                </a>
                <div class="card-body">
                    <a href="https://articles.bplans.com/a-nonprofits-ultimate-guide-to-social-media-marketing/">
                      <h4 class="card-title">A Nonprofit’s Ultimate Guide to Social Media Marketing</h4>
                    </a>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  
                </div>
              </div>
        </div>
      </div>
  </div>
</section>
<!---End Links -->
{{ end }}