{{ define "extrahead" }}
{{ $sassTemplate := resources.Get "style/arrowLink.scss" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/arrowLink.scss" . | resources.ToCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity}}" media="screen">
{{ $sassTemplate := resources.Get "style/news.scss" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/news.scss" . | resources.ToCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity}}" media="screen">
{{ $sassTemplate := resources.Get "style/processCard.scss" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/processCard.scss" . | resources.ToCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
{{ $sassTemplate := resources.Get "style/quizCard.scss" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/quizCard.scss" . | resources.ToCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
{{ $sassTemplate := resources.Get "style/textslider.scss" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/textslider.scss" . | resources.ToCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
<!-- {{ $sassTemplate := resources.Get "style/graphCircle.scss" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/graphCircle.scss" . | resources.ToCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen"> -->
<link href="./style/service.css" rel="stylesheet">
{{ end }}

{{ define "extraScript" }}
<script src="./js/processCard.js"></script>
<!-- <script src="./js/graphCircle.js"></script> -->
{{ end }}

{{ define "BodyStyle" }}{{ end }}


{{ define "main" }}

<!-- TextSlider 3 -->
<section class="px-0 py-5 px-lg-5">
  <div class="container">
      <div class="row justify-content-center"> 
        <div class="col-4 col-sm-2 pt-5 pt-sm-0 align-self-center">
          <div class="link-arrow">
            {{ $linkbeforepage :=  (printf "%s%s" "service/" .Params.beforepage )   }}
            <a href="{{  $linkbeforepage | absURL }}" class="">
              <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="prev" transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                    <polygon class="arrow" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                    <polygon class="arrow-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                    <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                </g>
              </svg>
            </a>
          </div>
        </div>
          <div class="col-10 col-sm-8  col-lg-8 col-xl-8 pt-3 pt-sm-0  align-self-center motivationText order-last order-sm-1">
              <div class="large-3 columns nopad border-bot aos-init aos-animate" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500"></div>
              <div class="subheading aos-init aos-animate" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
                      <h2>{{ (index .Params.slides 0).caption | markdownify}}</h2>
              </div>
              <div class="large-3 columns nopad border-bot aos-init aos-animate" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500"></div>
              <div class="header-text aos-init aos-animate" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
                      <p>{{ (index .Params.slides 0).description | markdownify}}
          </p>         
              </div>
          </div>
          <div class="col-4 col-sm-2 align-self-center order-sm-2">
            <div class="link-arrow">
              {{ $linknextpage :=  (printf "%s%s" "service/" .Params.nextpage )   }}
              <a href="{{  $linknextpage | absURL }}">
                <svg width="18px" height="17px" viewBox="-1 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g>
                        <polygon class="arrow" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                        <polygon class="arrow-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                        <path d="M-4.58892184e-16,0.56157424 L-4.58892184e-16,16.1929159 L9.708,8.33860465 L-1.64313008e-15,0.56157424 L-4.58892184e-16,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                    </g>
                </svg>
              </a>
            </div>
          </div>
      </div>
  </div>
</section>
<!-- End TextSlider 3 -->
<!---Quiz -->
<section class="quiz pb-5 pt-5">
  <div class="container px-lg-5">
      <div class="row justify-content-center"> 
        {{ $bgImageFront := .Params.quizbgimagefront }}
        {{ $bgImageBack := .Params.quizbgimageback }}
        {{ range .Params.quizcards }}
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 p-0 p-xl-0 col-xxl-3 ">
          <div class="parallaxCard">
            <div class="cardcontainer">
              <div class="cardfront cardside" {{ if isset . "bgimagefront"}} style='background-image: url("{{ .bgimagefront | absURL }}");' {{ else if $bgImageFront }} style='background-image: url("{{ $bgImageFront | absURL }}");' {{ end }}>
                <div class="parallaxContent">
                  <h2>{{ .titlefront | markdownify }}</h2>
                  <p>{{ .textfront | markdownify }}</p>
                </div>
                <div class="afteroverlay"></div>
              </div>
              <div class="cardback cardside" {{ if isset . "bgimageback"}} style='background-image: url("{{ .bgimageback | absURL }}");' {{ else if $bgImageBack }} style='background-image: url("{{ $bgImageBack | absURL }}");' {{ end }}>
                <div class="parallaxContent">
                  <h2>{{ .titleback | markdownify }}</h2>
                  <p>{{ .textback | markdownify }}</p>
<!--              {{ if eq .graphtype 1 }}
                  {{ else if eq .graphtype 2 }}
                  {{ end }} -->
                </div>
                <div class="afteroverlay"></div>
              </div>
            </div>
          </div>
      </div>
      {{ end }}
      </div>
  </div>
</section>
<!---End Quiz -->
<!---Process -->
<section class="p-0  pb-5 pt-5">
  <div class="container">
      <div class="row justify-content-center"> 
        {{ partial "processCard.html" . }}
      </div>
  </div>
</section>
<!---End Process -->
<!-- recent post with specific tags from the params of the page-->
<section class="news ">
  <div class="container py-5" >
    <div class="row"> 
      {{ $p := slice "New" .Params.newstag}}
      {{ range last 3 (where .Site.RegularPages "Params.tags" "intersect" $p)}}
      <div class="col-lg-4 pb-3 pb-lg-0">
        <article class="card p-2" style="background: white;height: 100%;">
          {{ if .Params.Image }}
          <a href="{{ .Permalink }}">
          <img src="{{ .Params.Image | absURL }}" class="card-img-top" alt="{{ .Title | markdownify }}">
          </a>
          {{ end }}
          <div class="card-body px-0">
            {{ range .Params.Categories }}
            <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}"
              class="text-primary">{{ . | title | humanize }}</a>
            {{ end }}
            <a href="{{ .Permalink }}" class="h5 d-block my-3">{{ .Title | markdownify }}
            <p class="card-text">{{ .Summary }}</p> </a>
            <div class="mb-3 post-meta">
              <span style="font-weight: bold;font-style: italic;">By {{ if .Params.author }}{{ .Params.author }}{{else}}{{.Site.Params.Author}}{{ end }}<br></span>
              {{ if not .Params.HideDate }}
              <span class="subspan">{{ .PublishDate.Format "Jan 02, 2006" }} </span> <!-- "02 January 2006" -->
              <span class="middotDivider"></span>
              {{ end }}
              <span class="subspan">{{ .ReadingTime }} min read</span>
              </div>
            </div>
        </article>
      </div>
      {{ end }}
      </div>
  </div>
</section>
<!-- /recent post -->
{{ end }}