{{ define "extrahead" }}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.1/css/all.min.css">
{{ $sassTemplate := resources.Get "style/quote.scss" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/quote.scss" . | resources.ToCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
{{ $sassTemplate := resources.Get "style/waves.css" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/waves.css" . | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
{{ $sassTemplate := resources.Get "style/oceanSlider.scss" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/oceanSlider.scss" . | resources.ToCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity}}" media="screen">
{{ $sassTemplate := resources.Get "style/expandInfoCard.scss" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/expandInfoCard.scss" . | resources.ToCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
{{ end }}

{{ define "extraScript" }}
<script>script('./js/poly-animal.js');</script>
{{ end }}

{{ define "BodyStyle" }}blue-gradient-bg{{ end }}

{{ define "main" }}

<!-- Hero Header -->
<section class="hero-header p-0 pb-4 container">
    {{ partial "hero-header.html" . }} 
</section>
<!-- End Hero Header -->
<!--begin of Service Section-->
<section class="pt-3 px-0 service-slider-overview ">
        {{ partial "serviceCard.html" . }}
</section>
<!--end of Service Section-->
<!-- Footer -->
{{ partial "wave.html" . }}
{{ partial "footer.html" . }}
<!-- End Footer -->
{{ end }}