{{ define "HTMLStyle" }}
<html lang="en" prefix="og: http://ogp.me/ns#" class="no-js">
{{ end }}

{{ define "extrahead" }}
<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.1/css/all.min.css" as="style" onload="this.rel='stylesheet'">
{{ $quoteStyle := resources.Get "style/quote.scss" | resources.ExecuteAsTemplate "style/quote.scss" . | resources.ToCSS }}
{{ $waveStyle := resources.Get "style/waves.css" | resources.ExecuteAsTemplate "style/waves.css" .}}
<!-- bundle preload css ressources together -->
{{ $cssPreload := slice }}
{{ $cssPreload := $cssPreload | append $quoteStyle $waveStyle}}
{{ $preloadextraCSS := $cssPreload | resources.Concat "style/servicepreloadextrastyle.css" | resources.Minify | resources.Fingerprint }}
<link rel="preload" href="{{ $preloadextraCSS.Permalink }}" as="style" onload="this.rel='stylesheet'">

{{ $oceansliderStyle := resources.Get "style/oceanSlider.scss" | resources.ExecuteAsTemplate "style/oceanSlider.scss" . | resources.ToCSS }}
{{ $infoCardStyle := resources.Get "style/expandInfoCard.scss" | resources.ExecuteAsTemplate "style/expandInfoCard.scss" . | resources.ToCSS }}
<!-- bundle css ressources together -->
{{ $css := slice }}
{{ $css := $css | append $oceansliderStyle $infoCardStyle }}
{{ $extraCSS := $css | resources.Concat "style/serviceextrastyle.css" | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $extraCSS.Permalink }}" media="screen">
{{ end }}

{{ define "extraScript" }}
<script>script('{{ .Site.BaseURL }}/js/poly-animal.js');</script>
{{ end }}

{{ define "BodyStyle" }}blue-gradient-bg{{ end }}

{{ define "main" }}

<!-- Hero Header -->
<section class="hero-header p-0 pb-4 container">
    {{ partial "hero-header.html" . }} 
</section>
<!-- End Hero Header -->
<!--begin of Service Section-->
<section class="pt-3 px-0 service-slider-overview ">
        {{ partial "serviceCard.html" . }}
</section>
<!--end of Service Section-->
<!-- Footer -->
{{ partial "wave.html" . }}
{{ partial "footer.html" . }}
<!-- End Footer -->
{{ end }}