{{ define "extrahead" }}
<link rel="stylesheet" type="text/css"  href="./style/contact.css" >
<link href="./style/service.css" rel="stylesheet">
{{ end }}

{{ define "extraScript" }}
{{ end }}

{{ define "main" }}
<section class="service p-0">
    <div class="form-content">
        <section class="grid-wrap">  
            <div class="row justify-content-center text-center">
                <div class="col-12">
                    {{ with .Site.Data.service.caption }}<h1>{{ . | safeHTML }}</h1>{{ end }}
                </div>
                </div>  
            <div class="option-wrap">
            <div class="row justify-content-center text-center">
                {{ range .Site.Data.service.service_item }}
                <div class="col-6 col-md-4 col-md-offset-0 link js-show-section">
                    {{ $link :=  (printf "%s%s" "service/" .serviceDetailLink )   }}
                    <a href="{{  $link| absURL }}"  style="color:white;text-decoration: none;">
                        <figure class="form-icon">
                            <img src="{{ .icon }}" alt="{{ .name }}">
                        </figure>
                    </a>
                    <h3>{{ .name }}</h3>
                </div>
                {{ end }}
            </div>
            </div>
        </section>
    </div>
</section>
{{ end }}