<!DOCTYPE html>
{{ block "HTMLStyle" . }}{{ end }}
	<head>
    {{ partial "head.html" . }}
    {{ block "extrahead" . }}{{ end }}
    {{ $sassTemplate := resources.Get "style/custom.scss" }}
    {{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/custom.scss" . | resources.ToCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
    </head>
    <body class="h-100 w-100 {{ block "BodyStyle" . }}{{ end }} navStyle ">
      {{ partial "hamburger-menu.html" . }}
      {{ block "main" . }}{{ end }}
      {{ partial "global-menu.html" . }}
    </main>
    <script src="https://cmp.osano.com/AzZckDRsq10DCG7S/f4b3ddc4-48ae-487b-a21d-322d264f2b8c/osano.js"></script>
    {{ partial "script.html" . }}
    {{ block "extraScript" . }}{{ end }}
    <script src="./js/custom.js"></script>
	</body>
</html>