<!DOCTYPE html>
{{ block "HTMLStyle" . }}{{ end }}
	<head>
    {{ partial "head.html" . }}
    {{ block "extrahead" . }}{{ end }}
    {{ $sassTemplate := resources.Get "style/custom.scss" }}
    {{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/custom.scss" . | resources.ToCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
    </head>
    <body class="h-100 w-100 {{ block "BodyStyle" . }}{{ end }} navStyle ">
      {{ partial "hamburger-menu.html" . }}
      {{ block "main" . }}{{ end }}
      {{ partial "global-menu.html" . }}
    </main>
    {{ partial "script.html" . }}
    {{ block "extraScript" . }}{{ end }}
    {{ $jsTemplate := resources.Get "scripts/custom.js" }}
    {{ $js := $jsTemplate | resources.ExecuteAsTemplate "scripts/custom.min.js" . | minify | fingerprint }}
    <script>script('{{ $js.Permalink }}');</script>
	</body>
</html>