{{ define "HTMLStyle" }}
<html lang="en" class="no-js">
{{ end }}

{{ define "extrahead" }}
<!-- Pagination meta tags for list pages only -->
{{ $paginator := .Paginate (where .Pages "Section" "news") }}
{{ if $paginator }}
  <link rel="first" href="{{ $paginator.First.URL }}">
  <link rel="last" href="{{ $paginator.Last.URL }}">
  {{ if $paginator.HasPrev }}
    <link rel="prev" href="{{ $paginator.Prev.URL }}">
  {{end }}
  {{ if $paginator.HasNext }}
    <link rel="next" href="{{ $paginator.Next.URL }}">
  {{end }}
{{end }}
<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.1/css/all.min.css" as="style" onload="this.rel='stylesheet'">{{ $sassTemplate := resources.Get "style/waves.css" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/waves.css" . | minify | fingerprint }}
<link rel="preload" href="{{ $style.Permalink }}" as="style" onload="this.rel='stylesheet'" integrity="{{ $style.Data.Integrity }}">
{{ $sassTemplate := resources.Get "style/quote.scss" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/quote.scss" . | resources.ToCSS | minify | fingerprint }}
<link rel="preload" href="{{ $style.Permalink }}" as="style" onload="this.rel='stylesheet'" integrity="{{ $style.Data.Integrity }}">
{{ $sassTemplate := resources.Get "style/news.scss" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/news.scss" . | resources.ToCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
{{ end }}

{{ define "BodyStyle" }}whitebackground{{ end }}

{{ define "extraScript" }}
<script src="{{ .Site.BaseURL }}/js/lazysizes.min.js" async=""></script>
<script>script('{{ .Site.BaseURL }}/js/poly-animal.js');</script>
<script>
    $.ajax({
      url: 'https://platform.twitter.com/widgets.js',
      dataType: 'script',
      cache: true, // or get new, fresh copy on every page load
      success: function() {
        // Callback
      }
    });</script>
{{ end }}

{{ define "main" }}

<main class="news">
    <div class="top-logo">
        <a href="{{ .Site.BaseURL }}" style="color:white;">Symphony&nbsp;ECO</a>
        <h1 class="hidden">{{.Title}} | Our Blog </h1>
    </div>
  <!-- blog post -->
  <section class="section pt-5">
    <div class="container pt-2">
      <div class="row">
        <div class="col-lg-8 mb-5 mb-lg-0">
          <div class="row">
            {{ $paginator := .Paginate .Data.Pages }}
            {{ range $paginator.Pages }}
            <div class="col-md-6 mb-4">
                <article class="card p-2">
                  {{ .Render "post" }}
                </article>
              </div>
            {{ end }}
          </div>
        </div>
        <!-- /sidebar -->
        {{ partial "sidebar.html" . }}
        <!-- pagination -->
        <div class="col-12 mt-5">
          {{ template "_internal/pagination.html" . }}
        </div>
      </div>
    </div>
  </section>
  <!-- /blog post -->
  <!-- /blog post -->
<!-- Footer -->
{{ partial "wave.html" . }}
{{ partial "footer.html" . }}
<!-- End Footer -->
</main>
{{ end }}