{{ define "extrahead" }}

{{ $sassTemplate := resources.Get "style/news.scss" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/news.scss" . | resources.ToCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
{{ end }}

{{ define "HTMLStyle" }}
<html style="background: white!important; background-color: white!important;"></html>
{{ end }}

{{ define "BodyStyle" }}whitebackground{{ end }}
{{ define "main" }}

<main class="news">
  <!-- blog post -->
  <section class="section py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-5 mb-lg-0">
          <div class="row">
            {{ $paginator := .Paginate .Data.Pages }}
            {{ range $paginator.Pages }}
            {{ .Render "post" }}
            {{ end }}
          </div>
        </div>
        <!-- /sidebar -->
        {{ partial "sidebar.html" . }}
        <!-- pagination -->
        <div class="col-12 mt-5">
          {{ template "_internal/pagination.html" . }}
        </div>
      </div>
    </div>
  </section>
  <!-- /blog post -->
</main>
{{ end }}