      {{ $title := .Title | markdownify }}
      {{if .Resources.Match "cover*" }}
      <a href="{{ .Permalink }}">
          {{ $resources := .Resources.Match "cover*"}}
            {{ range $resources }}
              {{ with . }}
              {{ $tinyw := default "500x" }}
              {{ $smallw := default "1200x" }}
              {{ $mediumw := default "1500x" }}
              {{ $largew := default "2000x" }}
              {{ $tiny := .Resize $tinyw }}
              {{ $small := .Resize $smallw }}
              {{ $medium := .Resize $mediumw }}
              {{ $large := .Resize $largew }}
              <img width="100%"
              srcset='
              {{ if ge .Width "500" }}
                {{ with $tiny.RelPermalink }}{{.}} 500w{{ end }}
              {{ end }}
              {{ if ge .Width "1200" }}
                {{ with $small.RelPermalink }}, {{.}} 1200w{{ end }}
              {{ end }}
              {{ if ge .Width "1500" }}
                {{ with $medium.RelPermalink }}, {{.}} 1500w{{ end }}
              {{ end }}
              {{ if ge .Width "2000" }}
                {{ with $large.RelPermalink }}, {{.}} 2000w {{ end }}
              {{ end }}'
              src="{{ .RelPermalink }}" 
            alt="$title" class="card-img-top" >
          {{ end }}
        {{ end }}
      </a>
      {{ else if .Params.Image }}
      <a href="{{ .Permalink }}">
        <img src="{{ .Params.Image | absURL }}" class="card-img-top" alt="{{ .Title | markdownify }}">
      </a>
      {{ end }}
      <div class="card-body px-0">
        {{ range .Params.Categories }}
        <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}"
          class="text-primary">{{ . | title | humanize }}</a>
        {{ end }}
        <a href="{{ .Permalink }}" class="h5 d-block my-3">{{ .Title | markdownify }}
        <p class="card-text">{{ .Summary }}</p> </a>
        <div class="mb-3 post-meta">
          <span style="font-weight: bold;font-style: italic;">By {{ if .Params.author }}{{ .Params.author }}{{else}}{{.Site.Params.Author}}{{ end }}<br></span>
          {{ if not .Params.HideDate }}
          <span class="subspan">{{ .PublishDate.Format "Jan 02, 2006" }} </span> <!-- "02 January 2006" -->
          <span class="middotDivider"></span>
          {{ end }}
          <span class="subspan">{{ .ReadingTime }} min read</span>
        </div>
      </div>
