{{ define "extrahead" }}
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
{{ $sassTemplate := resources.Get "style/aboutUs.scss" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/aboutUs.scss" . | resources.ToCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
{{ end }}

{{ define "HTMLStyle" }}
<html style="overflow: hidden;">
{{ end }}

{{ define "BodyStyle" }}
{{ end }}

{{ define "extraScript" }}
{{ end }}

{{ define "main" }}
<section class="aboutUs p-0">
<h1 class="hidden">About Us</h1>
  <div class=" communication">
      <div class="untitled">
              <div class="untitled__slides">
                  <div class="untitled__slide">
                      <div class="untitled__slideBg"></div>
                      <div class="untitled__slideContent">
                          <span>{{ .Params.profile1firstname | markdownify }}</span> 
                          <span>{{ .Params.profile1lastname | markdownify }}</span>
                          <a class="button" href="{{ .Params.link1 }}" target="/black">{{ .Params.link1text }}</a>
                      </div>
                  </div>
                  <div class="untitled__slide">
                      <div class="untitled__slideBg"></div>
                      <div class="untitled__slideContent">
                          
                          <span>{{ .Params.profile2firstname | markdownify }}</span> 
                          <span>{{ .Params.profile2lastname | markdownify }}</span>
                          <a class="button" href="{{ .Params.link2 }}" target="/black">{{ .Params.link2text }}</a>
                      </div>
                  </div>
                  <div class="untitled__slide">
                      <div class="untitled__slideBg"></div>
                      <div class="untitled__slideContent">
                        <span>{{ .Params.profile1firstname | markdownify }}</span> 
                        <span>{{ .Params.profile1lastname | markdownify }}</span>
                        <a class="button" href="{{ .Params.link1 }}" target="/black">{{ .Params.link1text }}</a>
                      </div>
                  </div>
                  <div class="untitled__slide">
                      <div class="untitled__slideBg"></div>
                      <div class="untitled__slideContent">
                        <span>{{ .Params.profile2firstname | markdownify }}</span> 
                        <span>{{ .Params.profile2lastname | markdownify }}</span>
                        <a class="button" href="{{ .Params.link2 }}" target="/black">{{ .Params.link2text }}</a>
                      </div>
                  </div>
              </div>
              <div class="untitled__shutters"></div>
          </div> 
      </div>
</section>
{{ end }}