/*# Codepart Inspiration from https://codepen.io/Vinnn/pen/XxGjWE by Vinayak Mukherjee */

$background:#4FA584;

  .ui{
    width:100%;
    margin:0 auto;
    margin-top:1%;
    color:white;
    box-shadow:none;
    box-shadow:0px 0px 5px 0px 2e2e2e;
    ul{
      margin:0px 10px 10px 0px;
      padding:0;
      list-style-type:none;
      font-size:11px;
      font-weight:400;
      line-height:20px;
    }
            .drop{
              //z-index:-999;
              //opacity:0;
              display: none;
              // width: 240px;
              // height: 25px;
              background: darken($background,10%);
              //position: absolute;
              color:white;
              //bottom: 0;
              padding:12px 30px 21px 30px;
              transition: all ease-in-out 0.3s;
                transition-property:bottom,opacity;
        transition-duration:.3s;
              p{
                color:lighten($background,50%);
              }
              a {
                color:white;
              }
             }
    &_box.white{ 
      background:#fff;
      color:#2e2e2e;
      //margin-right: 1.3%;
      box-shadow:-1px 0px rgba(0, 0, 0, 0.07);
    }
    &_box{
      //width:300px;
      //height:290px;
      width: 100%;
      position:relative;
      background:#3d3d3d;
      margin-bottom:50px;
      float:left;
      box-shadow:-1px 0px rgba(255, 255, 255, 0.07);
      cursor:pointer;
      transform:scale(1);
      transition-property:transform,background;
      transition-duration:.3s;
      
      
      &__inner{
        padding:30px;
        height: 100%;

        span{
          font-size:34px;
          font-weight:700;
        }
        .progress{
          width:100%;
          margin-top:10px;
          height:6px;
          background:rgba(0, 0, 0, 0.3);
          margin-bottom:15px;
          &_graph{
            float: right;
border-bottom: 1px solid rgba(255, 255, 255, 0.09);
width: 65px;
text-align: center;
position: relative;
//padding-left: 20px;
top: 24px;
            &__bar--3{
              width:10px;
              height:20px;
              background:$background;float:left;margin-right:10px;position: relative;
bottom: -10px;-webkit-animation:graph 1s;
            }
                        &__bar--1{
              width:10px;-webkit-animation:graph2 1s;
              height:30px;float:left;
                          margin-right:10px;
              background:$background;
            }
                        &__bar--2{
              width:10px;
              height:24px;margin-right:10px;-webkit-animation:graph3 1s;
              background:$background;float:left;position: relative;
bottom: -6px;
            }
                        &__bar--4{
width: 10px;
height: 14px;-webkit-animation:graph4 1s;
bottom: -16px;
position: relative;
background: $background;
float: left;
            }
          }
          &_bar{
            height:6px;float:left;
            width:58%;
            background:$background;
            -webkit-animation:bar 2s;
          }
                    &_bar--two{
            height:6px;float:left;
            width:78%;
            background:$background;
            -webkit-animation:bar2 2s;
          }
        }
      }
      h2{
        font-weight:normal;
        font-size:1.3rem;
          margin:-4px 0px 3px 0px;
      }
      p{
        color:rgb(182, 182, 182);clear: left;
        font-weight:300;
        // width:160px;
        margin:2px 0px 15px 0px;
      }
      &:hover{
        background:#3d3d3d;
        color:#fff;
        
        transition-property:transform,background;
        transition-duration:.3s;
        position:relative;
        z-index:1
      }
    }
  }


.ui_box:hover > .ui_box__inner p{
  color:lighten($background,30%);
}
.ui_box:hover > .drop{
  transition-property:bottom,opacity;
        transition-duration:.3s;
  bottom: 0px;
  //z-index:-99999999;
  //opacity:1;
  display: block;
}
.ui_box:hover > .drop .arrow{
    transition-property:transform;
        transition-duration:1s;
  transform:rotate(765deg);
}
.ui_box:hover > .ui_box__inner .progress_graph > div{
  background:white;
}
.ui_box:hover > .ui_box__inner .progress .progress_bar,.ui_box:hover > .ui_box__inner .progress .progress_bar--two{
  background:white;
}
.stat_left{float:left;}
    .arrow{
    width: 8px;
    height: 8px;
      transition-property:transform;
            transition-duration:1s;
      transform:rotate(45deg);
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-top: 1px solid #CDEAD3;
    border-right: 1px solid #CDEAD3;
    float: right;
    position: relative;
    //top: -24px;
    right: 0px;
    }

@media (min-width: 768px)  {
/*   .ui {
    padding-bottom: 13%;
  } */
  .ui .drop{
    //z-index:-999;
    opacity:0;
    position: absolute;
    bottom: 0;
    display: block;
  }
  .ui_box:hover > .drop{
    transition-property:bottom,opacity;
          transition-duration:.3s;
    //bottom: -170px;
    //bottom: -350px;
    bottom:-55%;
    display: block;
    //position: relative;
    z-index:5;
    opacity:1;
  }

  .ui_box:hover > .ui_box__inner p {
    opacity:0;
    transition-property:opacity;
    transition-duration:.9s;
  }
  .ui_box{
    height: 290px;
    margin-bottom:  4.5rem;;
  }
}  
@media (min-width: 992px)  {
  .ui_box{
    height: 325px;
  }
/*   .service-slider-overview {
    padding-bottom: 150px;
  } */
}

@media (min-width: 1920px)  {
  .ui_box{
    height: 325px;
  }
  .service-slider-overview {
    //padding-bottom: 100px;
    padding-top: 8vh!important;
  }
}


@media (min-width: 1000px)  {
  .ui_box:hover > .drop{
    bottom: -37%;
  }
}
@media (min-width: 1100px)  {
  .ui_box:hover > .drop{
    bottom: -20%;
  }
}
@media (min-width: 1300px)  {
  .ui_box:hover > .drop{
    bottom: -63%;
  }
}



//graph animation
@keyframes bar{
  from{width:0px}
  to{width:58%;}
}

@keyframes bar2{
  from{width:0px}
  to{width:78%;}
}

@keyframes graph{
  from{height:0px}
  to{height:20px}
}
@keyframes graph2{
  from{height:0px}
  to{height:30px}
}
@keyframes graph3{
  from{height:0px}
  to{height:24px}
}
@keyframes graph4{
  from{height:0px}
  to{height:13px}
}