$highlight_color: #b3c7d6;
$standardcolor: white;
$footercolor: #1164b4;

$bp-md: 800px;

.news{
/* card */
.card {
  height: 100%;
  border: 0;
  border-radius: 0;
  transition: all 0.4s cubic-bezier(.25,.8,.25,1);

  &-header,
  &-footer,
  &-img,
  &-img-top {
    border: 0;
    border-radius: 0;
  }
}

.card:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

  h1, h2, h3, h4, h5, h6 {
    color: #222!important;
    font-family: raleway,sans-serif;
    font-weight: 700!important;
    line-height: 1.2!important;
  }
  
  
.widget {
  text-align: center;
  margin-bottom: 50px;
}
  
.widget-title {
  display: inline-block;
  border-top: .5px solid $highlight_color;
  border-bottom: .5px solid $highlight_color;
  padding: 10px 0;
  margin-bottom: 20px;
}


.widget li {
  margin-bottom: 10px;

  a {
    color: #666;

    &:hover {
      color: $highlight_color;
    }
  }
}

//social links in the sidebar
.social-links {
  li {
    a {
      height: 35px;
      width: 35px;
      background: $highlight_color;
      color: $standardcolor;
      display: block;
      line-height: 35px;

      &:hover {
        color: $standardcolor;
      }
    }
  }
}

a, button, select {
  cursor: pointer;
  transition: .2s ease;
}
a, a:hover, a:focus {
  text-decoration: none;
}

.middotDivider {
  padding-right: .3em;
  padding-left: .3em;
  font-size: 16px;
}
.middotDivider:after {
  content: '\00B7';
}


/* pagination */
.pagination {
  justify-content: center;

  .page-item {

    .page-link {
      display: inline-block;
      width: 40px;
      height: 40px;
      text-align: center;
      color: $highlight_color!important;
      border-top: 0;
      border-bottom: 0;

      &:hover {
        background: $highlight_color!important;
        color: $standardcolor!important;
      }
    }

    &:first-child,
    &:last-child {
      .page-link {
        border-radius: 0;
      }
    }

    &.active {
      .page-link {
        background: $standardcolor!important;
        color: #666!important;
        border: 1px solid $highlight_color!important;
      }
    }
  }
}
  

  .bg-primary {
    background: $highlight_color!important;
  }

  .text-primary {
    color: $highlight_color!important;
}


  .card-text, .paragraph , .news-single-post p {
    font-weight: 400;
    color: #666!important;;
    font-size: 15px;
    line-height: 1.7;
    font-family: raleway,sans-serif;
    margin-bottom: 1rem;
  }
  
/* recent post */
.recent-post-thumb {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.small-post-border {
  &:not(:last-child) {
    border-right: 1px solid  #ACB9C4;;
  }
}

@media (max-width: 991px) {
  .small-post-border:not(:last-child) {
    border-right: 0;
    border-bottom: 1px solid #acb9c4;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
}

.featured-post {
  .card-title {
    margin-left: -10%;
    @media (max-width:$bp-md) {
      margin-left: 0;
    }
  }
}

  .post-meta span {
    color: #444;
    font-weight: 400;
  }
  
  .section-sm {
    padding-top: 80px;
    padding-bottom: 80px;
  }

.author-thumb-sm {
    height: 165px;
    width: 165px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-img-top {
  width: 100%;
  height: 300px;//100%;
  //max-height: 390px;
  object-fit: cover;
  @media (max-width:$bp-md) {
    height: 9.5rem;
  }
}

.card-img {
  object-fit: cover;
  height: 25.5rem;
}

@media (max-width:$bp-md) {
  .card-body {
    padding: 0;
  }
}



.button{
	text-decoration: none;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 1rem;
	display: inline-block;
	position: relative;
	border: 3px solid $highlight_color!important;
	box-shadow: -0.5vmin 0.5vmin 0 rgba($highlight_color, 0.5);
	background: transparent;
	margin-top: 5vmin;
	mix-blend-mode: lighten;
	color: $highlight_color!important;
	padding: 2vmin 2vmin 1.8vmin 2vmin;
	letter-spacing: 0.1em;
	text-shadow: none;
	line-height: 1;
	transform: translate3d(0.5vmin, -0.5vmin, 0);
	transition: all 100ms linear;
	&:hover{ 
		transform: translate3d(1vmin, -1vmin, 0);
		box-shadow: -1vmin 1vmin 0 rgba($highlight_color, 0.5);
		background: $highlight_color!important;
		color: $standardcolor!important;
	}
	&:active{ 
		transform: translate3d(0px, 0px, 0);
		box-shadow: -0px 0px 0 rgba($standardcolor, 0.5);
	}
}

//change the colour of the wave above the footer
g.parallax :nth-child(1) {
  fill:rgba(133, 179, 209,0.7);
}
g.parallax :nth-child(2) {
  fill:rgba(179, 199, 214,0.5);
}
g.parallax :nth-child(3) {
  fill:rgba(135, 206, 235,0.3);
}
g.parallax :last-child {
  fill:$footercolor;
}

#footer {
  background:  $footercolor;
  color:$standardcolor!important;
}

#footer .social a {
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
}

.quote blockquote:before {
  background: $footercolor;
}

.quote blockquote {
  border: solid 2px $standardcolor;
}
  
}

.EntryCover {
  position: relative;
  z-index: 60;
}

.EntryCover .Cover {
  height: 100vh;
  position: relative;
  @media (max-width:800px) {
      height: 70vh;
  }
}

.Cover {
  background-size: cover;
  background-position: center center;
  display: block;
}

._Cover__ .EntryCover  .Cover {
  //background-image:url(' {{ if .Params.coverimage }}{{ .Params.coverimage | absURL }}{{else}}{{ .Params.image | absURL }}{{end}}');
  background-position: 67.5% 9.953343701399689%;
  @media (max-width:800px) {
    background-position: center;
  }
}

/* @media (max-width:600px) {
  ._Cover__ .EntryCover  .Cover {
    background-image:url('{{ if .Params.coverimagemobil }}{{ .Params.coverimagemobil | absURL }}{{else}}{{ .Params.image | absURL }}{{end}}');
  }  
} */


.EntryCover ._Info {
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  padding-left: 14px;
  padding-right: 14px
}

@media (max-width:992px) {
  .EntryCover ._Info {
    max-width: 100%;
  }
}

@media only screen and (min-width:376px) {
  .EntryCover ._Info {
      padding-left: 28px;
      padding-right: 28px
  }
}

.EntryCover ._InfoWrapper {
  position: relative;
  margin-top: -70px
}

.EntryCover ._InfoWrapper[min-height~="151px"] {
  margin-top: -130px
}

@media only screen and (max-aspect-ratio:99 / 100) {
  .EntryCover ._InfoWrapper[min-height~="151px"] {
      margin-top: -150px
  }
}

.EntryCover ._InfoWrapper[min-height~="181px"] {
  margin-top: -160px;
}

@media only screen and (max-aspect-ratio:99 / 100) {
  .EntryCover ._InfoWrapper[min-height~="181px"] {
      margin-top: -160px
  }
}

.EntryCover.-full ._InfoWrapper[min-height~="301px"] {
  margin-top: -274px
}

.EntryCover.-short .Cover {
  height: 60vh;
  min-height: 420px
}

.EntryCover.-narrow ._Title, .EntryCover.-narrow ._Supertitle, .news ._Info .post-meta , .news ._Info .sharing{
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
}

.EntryCover ._Info {
  background-color: $standardcolor;
  padding-bottom: 25px;
  padding-top: 25px
}

.EntryCover ._Title {
  font-size: 1.9rem;
  line-height: 1.2;
  letter-spacing: 1px;
  font-weight: 700;
  color: #1a1919;
  text-decoration: none;
  margin-bottom: 20px;
  margin-top: 10px
}

.news-single-post {
  @media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
  }
  @media (min-width: 1300px) {
    .container {
        max-width: 1240px;
    }
  }
}

.nojs .img .lazyload {
  display: none;
}