$highlight_color: #b3c7d6;

body{
  background-color: white!important;
  background: white!important;
}

.news{

  h1, h2, h3, h4, h5, h6 {
    color: #222!important;
    font-family: raleway,sans-serif;
    font-weight: 700!important;
    line-height: 1.2!important;
  }
  
  
.widget {
  text-align: center;
  margin-bottom: 50px;
}
  
.widget-title {
  display: inline-block;
  border-top: .5px solid $highlight_color;
  border-bottom: .5px solid $highlight_color;
  padding: 10px 0;
  margin-bottom: 20px;
}

.widget li {
  margin-bottom: 10px;
}

.widget li a {
  color: #666;
}
a, button, select {
  cursor: pointer;
  transition: .2s ease;
}
a, a:hover, a:focus {
  text-decoration: none;
}

.middotDivider {
  padding-right: .3em;
  padding-left: .3em;
  font-size: 16px;
}
.middotDivider:after {
  content: '\00B7';
}

//borders
.card {
  border: 0;
  border-radius: 0;
}


/* pagination */
.pagination {
  justify-content: center;

  .page-item {

    .page-link {
      display: inline-block;
      width: 40px;
      height: 40px;
      text-align: center;
      color: $highlight_color!important;
      border-top: 0;
      border-bottom: 0;

      &:hover {
        background: $highlight_color!important;
        color: #fff!important;
      }
    }

    &:first-child,
    &:last-child {
      .page-link {
        border-radius: 0;
      }
    }

    &.active {
      .page-link {
        background: #fff!important;
        color: #666!important;
        border: 1px solid $highlight_color!important;
      }
    }
  }
}
  

  .bg-primary {
    background: $highlight_color!important;
  }

  .text-primary {
    color: $highlight_color!important;
}


  .card-text, .paragraph , p {
    font-weight: 400;
    color: #666!important;;
    font-size: 15px;
    line-height: 1.7;
    font-family: raleway,sans-serif;
    margin-bottom: 1rem;
  }
  
/* recent post */
.recent-post-thumb {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.small-post-border {
  &:not(:last-child) {
    border-right: 1px solid  #ACB9C4;;
  }
}

@media (max-width: 991px) {
  .small-post-border:not(:last-child) {
    border-right: 0;
    border-bottom: 1px solid #acb9c4;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
}
  .post-meta span {
    color: #444;
    font-weight: 400;
  }
  
  .section-sm {
    padding-top: 80px;
    padding-bottom: 80px;
  }

.author-thumb-sm {
    max-height: 165px;
    max-width: 165px;
}

.card-img-top {
  width: 100%;
  height: unset;
}

.card-header, .card-footer, .card-img, .card-img-top {
  border: 0;
  border-radius: 0;
}

.button{
	text-decoration: none;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 2vmin;
	display: inline-block;
	position: relative;
	border: 3px solid $highlight_color!important;
	box-shadow: -0.5vmin 0.5vmin 0 rgba($highlight_color, 0.5);
	background: transparent;
	margin-top: 5vmin;
	mix-blend-mode: lighten;
	color: $highlight_color!important;
	padding: 2vmin 2vmin 1.8vmin 2vmin;
	letter-spacing: 0.1em;
	text-shadow: none;
	line-height: 1;
	transform: translate3d(0.5vmin, -0.5vmin, 0);
	transition: all 100ms linear;
	&:hover{ 
		transform: translate3d(1vmin, -1vmin, 0);
		box-shadow: -1vmin 1vmin 0 rgba(white, 0.5);
		background: white;
		color: black;
	}
	&:active{ 
		transform: translate3d(0px, 0px, 0);
		box-shadow: -0px 0px 0 rgba(white, 0.5);
	}
}


  
}


