// colour stuff
$white: #ffffff;
$lightBG: linear-gradient(140deg, #1164b4, 70%, transparent);
$salmon: #ff6666;

$teal: #0096a0;
$tealMid: #0ebac7;
$tealContrast: #33ffff;
$tealShade:	#007c85;

$darkGrey: #4f585e;

a.btnCard {
  background: $teal;
  border-radius: 4px;
	box-shadow: 0 2px 0px 0 rgba(0,0,0,0.25);
  color: $white;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
	transition: all 0.1s 0s ease-out;
}

.no-touch a.btnCard:hover {
  background: lighten($teal,2.5);
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}

.no-touch a.btnCard:active,
a.btnCard:active {
  background: darken($teal,2.5);
  box-shadow: 0 1px 0px 0 rgba(255,255,255,0.25);
  transform: translate3d(0,1px,0);
  transition: all 0.025s 0s ease-out;
}

//above 1600 display in 4 beside

div.processCards {
  //margin: 80px auto;
  max-width: 100%;
  text-align: center;
}

@media (min-width: 1600px) {
  .col-xxl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
}

// for wrapping from 6 to 3 display per line in responsive way

@media (min-width: 1465px)  {
  div.processCards {
    max-width: 76%;
  }
}
@media (min-width: 1705px)  {
  div.processCards {
    max-width: 65%;
  }
}

@media (min-width: 2220px)  {
  div.processCards {
    max-width: 100%;
  }
}


div.processCard {
  background: $white;
  display: inline-block;
  margin: 8px;
  max-width: 400px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  width: 400px;
  z-index: 1;

  .processCard__image-holder img {
    max-width: 400px;
  }

  @media (max-width: 400px)  {
    max-width: 350px;
    width: 350px;
  }
  
  .processCard__image-holder {
    background: rgba(0,0,0,0.1);
    height: 0;
    padding-bottom: 64%;
  }

  div.processCard-title {
    background: $white;
    color:black;
    padding: 6px 15px 10px;
    position: relative;
    z-index: 0;
    
    a.toggle-cardInfo {
      border-radius: 32px;
      height: 32px;
      padding: 0;
      position: absolute;
      right: 15px;
      top: 10px;
      width: 32px;
      
      span {
        background: $white;
        display: block;
        height: 2px;
        position: absolute;
        top: 16px;
        transition: all 0.15s 0s ease-out;
        width: 12px;
      }
      
      span.left {
        right: 14px;
        transform: rotate(45deg);
      }
      span.right {
        left: 14px;
        transform: rotate(-45deg);
      }
    }
    
    h2 {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.05em;
      margin: 0;
      padding: 0;
      
      small {
        display: block;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.025em;
      }
    }
  }

  div.processCard-description {
    color:black;
    padding: 0 15px 10px;
    position: relative;
    font-size: 14px;
  }

  div.processCard-actions {
  	box-shadow: 0 2px 0px 0 rgba(0,0,0,0.075);
    padding: 10px 15px 20px;
    text-align: center;
  }
  
  div.processCard-flap {
    background: darken($white,15);
    position: absolute;
    width: 100%;
    transform-origin: top;
    transform: rotateX(-90deg);
  }
  div.flap1 {
    transition: all 0.3s 0.6s ease-out;
    z-index: -1;
  }
  div.flap2 {
    transition: all 0.3s 0.3s ease-out;
    z-index: -2;
  }
  div.flap3 {
    transition: all 0.3s 0s ease-out;
    z-index: -3;
  }
  
}

div.processCards.showing {
  div.processCard {
    cursor: pointer;
    opacity: 0.6;
    transform: scale(0.88);
  }
}

.no-touch  div.processCards.showing {
  div.processCard:hover {
    opacity: 0.94;
    transform: scale(0.92);
  }
}

div.processCard.show {
  opacity: 1 !important;
  transform: scale(1) !important;

  div.processCard-title {
    a.toggle-cardInfo {
      background: $salmon !important;
      span {
        top: 15px;
      }
      span.left {
        right: 10px;
      }
      span.right {
        left: 10px;
      }
    }
  }
  div.processCard-flap {
    background: $white;
    transform: rotateX(0deg);
  }
  div.flap1 {
    transition: all 0.3s 0s ease-out;
  }
  div.flap2 {
    transition: all 0.3s 0.2s ease-out;
  }
  div.flap3 {
    transition: all 0.3s 0.4s ease-out;
  }
}


/* .processCards .processCard {
  float: left;
}

.processCards .processCard:nth-child(3n+1){
  background-color: yellow;
  clear: left;
}
 */
