//code made from codePen https://codepen.io/eltonkamami/pen/hjBrE by  Elton Kamami
//how many images we have

$slides: {{len .Site.Data.textSlider.slides }}; 

// how much we want each slide to show
$time_per_slide: {{.Site.Data.textSlider.time_per_slide }};

// total time needed for full animation
$total_animation_time: $time_per_slide * $slides;

.textslide{
  position:absolute;
  animation:round #{$total_animation_time}s infinite;
  opacity:0;
  padding-top:5%;
  
}
@media (max-width: 800px) {
  .textslide {
    padding-top: 20%
  }
}

@keyframes round{   
  25%{
    opacity:1;
  }
  40%{
    opacity:0;
  }
} 

@for $index from 1 to $slides + 1{
  .textslide:nth-child(#{$index}){
    animation-delay:#{$total_animation_time - $time_per_slide * $index}s
  }
}

.border-bot {
  border: none;
}



.header-text p {
  font-size: 1.6rem;
  line-height: 1.45;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  }

  @media (max-width: 600px) {
    .header-text p {
      font-size: 1.2rem;
      line-height: 1.25;
      text-align: center;
      }
  }

  .subheading h2{
    opacity: 0.5;
    font-weight: bold;
    font-size: 1.07rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 2rem;
    position: relative;
    top: 0;

  }



  .textslide .large-3 {
    position: relative;
    width: 20%;
    padding: 0px;
    float: left;
  }

  @media (min-width: 800px) {
    .subheading h2{
      position: relative;
      top: 17px;
      padding-bottom: 0;
    }
  

    .textslide .header-text {
      border-right: 2px solid #fff;
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      padding: 22px;
      clear: both;
    }
    .border-bot {
      height: 32px;
      border-bottom: 2px solid #fff !important;
      padding: 0px;
    }
    .subheading {
      position: relative;
      width: 60%;
      float: left;
      padding-bottom: 0;
      padding-left: 0.9375em;
      padding-right: 0.9375em;
    }
    }
  