<!-- https://getform.io/f/a741d3a0-3568-4d65-91f2-3ea1a672e294 -->
<form action="" role="form" method="post" id="form-3" class="has-validation-callback">
<div class="contactcards">	

	 <div class="contactcard active" id="overview">
		<a class="contactcard-toggle"><i class="fa fa-arrow-circle-left"></i></a>
		<div class="contactcard-content">
			<div class="row" style="height: 100%;">
				<div class="col col-12 p-0 px-4">
					<h2 class="">Your <strong>Moment </strong></h2>
					<p class=""><em>Click the icons below to fill in the information</em></p>
					<div class="row align-items-center justify-content-center text-center" style="height: 70%;">
						<div class="col-12"> 
							<p class= "intro-text">Make a difference.<br>Make it last.<br><strong>Make a Symphony.</strong></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 

	<div class="contactcard" id="service">
		<a class="contactcard-toggle"><i><span class="fas fa-tasks"></span></i></a>
		<div class="contactcard-content">
			<div class="row " style="height: 100%;">
				<div class="col col-12 px-4">
					<h2 class="">Your <strong>Priority</strong></h2>
					<p class="pb-4"><em>Choose all of your biggest concerns - we will tailor our services to meet your needs
					</em></p>
					<div class="row justify-content-center text-center align-items-center pb-5" style="height: 85%;">
							<div class="col-12 js-form-link p-0">
							<p data-letters="Tourism Plan" class="serviceSelect link link--kukuri">Tourism Plan</p>
							</div>
							<div class="col-12 js-form-link p-0">
							<p data-letters="Website" class="serviceSelect link link--kukuri">Website</p>
							</div>
							<div class="col-12 js-form-link p-0">
							<p data-letters="Marketing" class="serviceSelect link link--kukuri">Marketing</p>
							</div>
							<div class="col-12 js-form-link p-0">
							<p data-letters="Volunteers" class="serviceSelect link link--kukuri">Volunteers</p>
							</div>
							<div class="col-12 js-form-link p-0">
								<p data-letters="Funding" class="serviceSelect link link--kukuri">Funding</p>
						</div>
						<input name="sub-category" type="hidden" class="js-form-link-data" value="">
					</div>
				</div>
			</div>
		</div>
	</div> 
	
	<div class="contactcard" id="behance"> 
		<a class="contactcard-toggle"><i><span class="far fa-money-bill-alt"></span></i></a>
		<div class="contactcard-content">
			<div class="row" style="height: 100%;">
				<div class="col col-12 px-4">
					<h2>Your <strong>Investment</strong></h2>
							<p>Our dermination is limited by our time. This helps us prioritize our focus in making your dreams a reality.</p>
					<div class="row pt-4 justify-content-center align-items-center text-center" style="height: 80%;">
						<div class="col-11 col-md-10">
							<div id="website-slider-budget" class="noUi-target noUi-ltr noUi-horizontal">
								</div>
							<p class="section-caption">Approximate budget</p>
							<input class="slider-input" name="slider-budget-input" type="text" id="website-slider-budget-input" readonly="">
						</div>
						<div class="col-11 col-md-10">
							<div id="website-slider-week" class="noUi-target noUi-ltr noUi-horizontal">
						</div>
							<p class="section-caption">Estimated timeline</p>
							<input class="slider-input" name="slider-week-input" type="text" id="website-slider-week-input" readonly="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="contactcard" id="linkedin">
		<a class="contactcard-toggle"><i><span class="far fa-thumbs-up"></span></i></a>
		<div class="contactcard-content">
			<div class="row">
				<div class="col col-12 px-4">
					<h2>Your <strong>Social</strong></h2>
					<p class>Time is the most valuable non-renewable resource we have. This dictates how much time we can put forth to make dreams reality.</p>
					<div class="row pt-4">
						<div class="col-sm-12 col-lg-6">
							<input class="text-input form-control" name="facebook" type="text" placeholder="Facebook ID">
						</div>
						<div class="col-sm-12 col-lg-6">
								<input class="text-input form-control" name="twitter" type="text" placeholder="Twitter ID">
						</div>
						<div class="col-sm-12 col-lg-6">
								<input class="text-input form-control" name="instagram" type="text" placeholder="Instagram ID">
						</div>
						<div class="col-sm-12 col-lg-6">
							<input class="text-input form-control" name="other-accounts" type="text" placeholder="Other Accounts">
						</div>
							<div class="col-sm-12">
								<input class="text-input form-control" name="current-website-url" type="text" placeholder="Current website url">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="contactcard" id="twitter">
		<a class="contactcard-toggle"><i><span class="far fa-address-card"></span></i></a>
		<div class="contactcard-content">
			<div class="row">
				<div class="col col-12 px-2 px-md-4">
					<h2>Your <strong>Message</strong></h2>
					<p>If there are any pertinent details that you'd like to share, please drop a message in the box below.</p>
					<div class="row pt-4">
						<div class="col-sm-12 col-lg-6 form-group">
							<p>
								<input id="form_name" type="text" name="name" class="text-input form-control" placeholder="Name *" required="required"
								data-error="Name is required.">
								<div class="help-block with-errors"></div>
							</p>
						</div>
						<div class="col-sm-12 col-lg-6 form-group">
							<p>
								<input id="form_email" type="email" name="email" class="text-input form-control" placeholder="Email *" required="required"
								data-error="Valid email is required.">
								<div class="help-block with-errors"></div>
							</p>
						</div>
						<div class="col-sm-12 col-lg-6">
							<input class="text-input form-control" name="company-name" type="text" placeholder="Company Name">
						</div>
						<div class="col-sm-12 col-lg-6">
							<input class="text-input form-control" name="phone_skype" type="text" placeholder="Phone/Skype ID">
						</div>
						<div class="col-12  form-group">
								<textarea id="form_message"  rows="3" cols="50" placeholder="Don't be shy...*" name="additional-info" required="required" data-error="Please, leave us a message."></textarea>
						</div>
						<div class="col-12 form-group text-right">
						<!-- <input name="submit" class="submit-button button" type="submit" value="SEND OVER"> -->
						<input type="submit" class="btn btn-success btn-send button" value="let's go!">
						</div>
					</div>
					<p style="color: black;"><tt id="results"></tt></p>
				</div>
			</div>
		</div>
	</div>

</div>
</form>