<div class="contactcards">	
	 <div class="contactcard active" id="overview">
		<a class="contactcard-toggle"><i class="fa fa-arrow-circle-left"></i></a>
		<div class="contactcard-content">
			<div class="row">
				<div class="left col">
					<h2>Personal <strong>Social Card</strong></h2>
					
					<p>Click one of the social icons below to switch between card or click Contact Me link to show the contact form card. <br /><em>Make sure you're running this experiment in the latest Chrome browser.</em></p>
					
				</div>
				<div class="right col">
				</div>
			</div>
		</div>
	</div> 
	<div class="contactcard" id="dribbble">
		<a class="contactcard-toggle"><i><span class="fa fa-dribbble"></span></i></a>
		<div class="contactcard-content">
			<div class="row">
				<div class="left col">
					<h2>My <strong>Dribbble</strong></h2>
					
					<p>In ipsa reiciendis, eligendi labore dolores delectus facere perferendis ex architecto reprehenderit maxime exercitationem, libero itaque, at voluptatibus! Sit obcaecati repellat incidunt accusantium voluptas suscipit a consequuntur repudiandae nulla eius.</p>
					
				</div>
				<div class="right col"><img src="https://dl.dropboxusercontent.com/u/26808427/cdn/preview.jpg" alt="" /></div>
			</div>
		</div>
	</div> 
	
	<div class="contactcard" id="behance">
		<a class="contactcard-toggle"><i><span class="fa fa-behance"></span></i></a>
		<div class="contactcard-content">
			<div class="row">
				<div class="left col">
					<h2>My <strong>Behance</strong></h2>
					<p>Quia fugit animi, iure error veritatis? Ipsa quis, deserunt illum culpa ab id mollitia nesciunt commodi aut dolores vero ipsam ut minima neque nam excepturi corporis obcaecati consequuntur accusantium laborum!</p>
				</div>
				<div class="right col"><img src="https://dl.dropboxusercontent.com/u/26808427/cdn/preview.jpg" alt="" /></div>
			</div>
		</div>
	</div>
	<div class="contactcard" id="linkedin">
		<a class="contactcard-toggle"><i><span class="fa fa-linkedin"></span></i></a>
		<div class="contactcard-content">
			<div class="row">
				<div class="left col">
					<h2>My <strong>LinkedIn</strong></h2>
				
					<p>Voluptas aliquam, perferendis laboriosam, cumque, autem vero pariatur dolorum tempora sint hic laborum distinctio suscipit magnam, porro provident maxime labore. Porro vel error quaerat consequatur sapiente? Nostrum at voluptatibus necessitatibus.</p>
				</div>
				<div class="right col"><img src="https://dl.dropboxusercontent.com/u/26808427/cdn/preview.jpg" alt="" /></div>
			</div>
		</div>
	</div>
	<div class="contactcard" id="twitter">
		<a class="contactcard-toggle"><i><span class="fa fa-twitter"></span></i></a>
		<div class="contactcard-content">
			<div class="row">
				<div class="left col">
					<h2>My <strong>Twitter</strong></h2>
				
					<p>Fugit veniam, animi architecto doloribus veritatis vitae sint doloremque possimus quae. Pariatur libero, veniam voluptatibus alias distinctio qui nostrum debitis voluptate amet hic repellat officiis nam quos vel doloremque praesentium.</p>
				</div>
				<div class="right col"><img src="https://dl.dropboxusercontent.com/u/26808427/cdn/preview.jpg" alt="" /></div>
			</div>
		</div>
	</div>
</div>