<div class="flexcard">
  <div class="options">
     <div class="flexoption active" style="--optionBackground:url(https://66.media.tumblr.com/6fb397d822f4f9f4596dff2085b18f2e/tumblr_nzsvb4p6xS1qho82wo1_1280.jpg);">
        <div class="description label">
          <div class="info">
            <p class="sub text p-5">What: Design, Development, and Deployment of websites that are artfully created to effectively display
              all the information about your ECO and appeal highly to a global audience. 
              <br><br>How: We will work with you to determine how best to capture your vision and will create a fast and safe website
              that will reach the broadest audience, no matter the internet speed. The website will also integrate your latest Tweets and 
              Posts to streamline your communication.
              <br><br>Bonus: A wonderfully user-friendly tool that enables you to manage your own content, on your own terms.
            </p>
          </div>
        </div>
        <div class="shadow"></div>
        <div class="label">
           <div class="flex-icon">
              <i class="fas fa-sun"></i>
           </div>
           <a href="https://www.facebook.com/SymphonyEco" class="info">
             <div class="main">boom</div>
                 <div class="sub">Omuke trughte a otufta</div>
           </a>
        </div>
     </div>
     <div class="flexoption" style="--optionBackground:url(https://66.media.tumblr.com/8b69cdde47aa952e4176b4200052abf4/tumblr_o51p7mFFF21qho82wo1_1280.jpg);">
        <div class="description label">
            <div class="info">
              <p class="sub text p-5">What: Design, Development, and Deployment of websites that are artfully created to effectively display
                all the information about your ECO and appeal highly to a global audience. 
                <br><br>How: We will work with you to determine how best to capture your vision and will create a fast and safe website
                that will reach the broadest audience, no matter the internet speed. The website will also integrate your latest Tweets and 
                Posts to streamline your communication.
                <br><br>Bonus: A wonderfully user-friendly tool that enables you to manage your own content, on your own terms.
              </p>
            </div>
        </div>
        <div class="shadow"></div>
        <div class="label">
           <div class="flex-icon">
              <i class="fas fa-snowflake"></i>
           </div>
           <div class="info">
              <div class="main">Web Design</div>
              <div class="sub">Link more</div>
           </div>
        </div>
     </div>
     <div class="flexoption" style="--optionBackground:url(https://66.media.tumblr.com/5af3f8303456e376ceda1517553ba786/tumblr_o4986gakjh1qho82wo1_1280.jpg);">
        <div class="shadow"></div>
        <div class="label">
           <div class="flex-icon">
              <i class="fas fa-tree"></i>
           </div>
           <div class="info">
              <div class="main">Iteresuselle</div>
              <div class="sub">Omuke trughte a otufta</div>
           </div>
        </div>
     </div>
     <div class="flexoption" style="--optionBackground:url(https://66.media.tumblr.com/5516a22e0cdacaa85311ec3f8fd1e9ef/tumblr_o45jwvdsL11qho82wo1_1280.jpg);">
        <div class="shadow"></div>
        <div class="label">
           <div class="flex-icon">
              <i class="fas fa-tint"></i>
           </div>
           <div class="info">
              <div class="main">Idiefe</div>
              <div class="sub">Omuke trughte a otufta</div>
           </div>
        </div>
     </div>
  </div>
</div>
  