<div class='row ui justify-content-center'>
  <div class="col-12">
    <div class="row align-items-start justify-content-center">
      {{ range .Site.Data.service.service_item }}
        <div class='col-12 col-md-6 col-lg-3' >
          <div class='ui_box white'>
          {{ $link :=  (printf "%s%s" "service/" .serviceDetailLink )   }}
          <div class='ui_box__inner'>
            <h2>
              {{ .name | safeHTML}}
            </h2>
            <p>{{ .question1 | safeHTML}}</p>
            <div class='stat'>
              <span>{{ .data }}</span>
            </div>
            <div class='progress'>
              <div class='progress_bar'></div>
            </div>
            <p>{{ .question2 | safeHTML}}</p>
          </div>
          <div class='drop' id="{{ .name }}">
            <p>{{ .answer | safeHTML}}
            </p>
            <a href="{{  $link| absURL }}">
              more details
              <div class='arrow'></div>
            </a>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
