<div class='row ui justify-content-center'>
  {{ range .Site.Data.service.service_item }}
  <div class='ui_box white'>
    {{ $link :=  (printf "%s%s" "service/" .serviceDetailLink )   }}
    <div class='ui_box__inner'>
      <h2>
        {{ .name }}
      </h2>
      <p>{{ .question1 }}</p>
      <div class='stat'>
        <span>{{ .data }}</span>
      </div>
      <div class='progress'>
        <div class='progress_bar'></div>
      </div>
      <p>{{ .question2 }}</p>
    </div>
    <div class='drop'>
      <a href="{{  $link| absURL }}">
        <p>{{ .answer }}
        </p>
        <div class='arrow'></div>
      </a>
    </div>
  </div>
  {{ end }}

  <div class='ui_box white'>
    <div class='ui_box__inner'>
      <h2>
        Sales By Type
      </h2>
      <p>Lorem ipsum dolor sit amet</p>
      <div class='stat_left'>
        <ul>
          <li>
            Electical
          </li>
          <li>
            Clothing
          </li>
          <li>
            Entertainment
          </li>
          <li>
            Kitchen
          </li>
        </ul>
      </div>
      <div class='progress_graph'>

        <div class='progress_graph__bar--2'></div>
        <div class='progress_graph__bar--3'></div>
        <div class='progress_graph__bar--4'></div>
      </div>
      <p>Lorem ipsum dolor sit amet. Some more super groovy information.</p>
    </div>
    <div class='drop'>
      <p>Take a closer look</p>
      <div class='arrow'></div>
    </div>
  </div>
  <div class='ui_box white'>
    <div class='ui_box__inner'>
      <h2>
        Total Sales
      </h2>
      <p>Lorem ipsum dolor sit amet</p>
      <div class='stat'>
        <span>$34,403.93</span>
      </div>
      <div class='progress'>
        <div class='progress_bar--two'></div>
      </div>
      <p>Lorem ipsum dolor sit amet. Some more super groovy information about this stat.</p>
    </div>
    <div class='drop'>
      <p>Take a closer look</p>
      <div class='arrow'></div>
    </div>
  </div>
  <div class='ui_box white'>
    <div class='ui_box__inner'>
      <h2>
        Total Sales
      </h2>
      <p>Lorem ipsum dolor sit amet</p>
      <div class='stat'>
        <span>$34,403.93</span>
      </div>
      <div class='progress'>
        <div class='progress_bar--two'></div>
      </div>
      <p>Lorem ipsum dolor sit amet. Some more super groovy information about this stat.</p>
    </div>
    <div class='drop'>
      <p>Take a closer look</p>
      <div class='arrow'></div>
    </div>
  </div>
</div>
