<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<link rel="shortcut icon" href="{{ .Site.Params.fav_icon | absURL }}" />
<link rel="dns-prefetch" href="{{ .Site.BaseURL }}">
<link rel="preconnect" href="{{ .Site.BaseURL }}">
<meta property="og:type" content="website"/>
<!-- Link Tags -->
<base href="{{ .Permalink }}">
<link rel="canonical" href="{{ .Site.BaseURL }}"/>
<meta name="url" content="{{ .Permalink }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<!-- Title Tags -->
<meta name="author" content="{{ if .Params.author }}{{ .Params.author }} | {{ end }}{{ .Site.Params.Author }}">
<title>{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}</title>
<meta property="og:title" content="{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}">
<meta property="og:site_name" content="{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}">
<!-- Description Tags# -->
<meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.Description }}{{ end }}">
<meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.Description }}{{ end }}">
<meta name="keywords" content="{{ if .Keywords }}{{ .Keywords }}{{ else }}{{ .Site.Params.keywords }}{{ end }}">
<!-- Language Tags -->
<meta property="og:locale" content="en">
<!-- Image Tags# -->
{{ if .Params.og_image }}
<meta property="og:image" content="{{ .Params.og_image | relURL }}"/>
<meta property="og:image:secure_url" content="{{ .Params.og_image | absURL }}"/>
<meta name="twitter:image" content="{{ .Params.og_image | absURL  }}" />
<meta name="twitter:image:src" content="{{ .Params.og_image | absURL  }}" /> 
{{ else }}
<meta property="og:image" content="{{ .Site.BaseURL }}{{ .Site.Params.og_image | relURL }}"/>
<meta property="og:image:secure_url" content="{{ .Site.Params.og_image | absURL }}"/>
<meta name="twitter:image" content="{{ .Site.Params.og_image | absURL  }}" />
<meta name="twitter:image:src" content="{{ .Site.Params.og_image | absURL  }}" /> 
{{ end }}
<!-- Twitter Meta Tags -->
<meta name="twitter:dnt" content="on">
<meta name="twitter:url" content="{{ .Permalink }}" /> 
<meta name="twitter:site" content="{{.Site.Params.twitter}}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.Description }}{{ end }}" />
<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ .Site.BaseURL }}sitemap.xml" /> 
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
<link rel="preload" href="{{ .Site.BaseURL }}/style/googlefont.css" as="style" onload="this.rel='stylesheet'">
<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/style/bootstrap.min.css">
<!-- <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css"> -->
{{ $sassTemplate := resources.Get "style/nav.css" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/nav.css" . | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" media="screen">
{{ $sassTemplate := resources.Get "style/linkstyles.scss" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/linkstyles.scss" . | resources.ToCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" media="screen">