<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<link rel="dns-prefetch" href="{{ .Site.BaseURL }}">
<link rel="preconnect" href="{{ .Site.BaseURL }}">
<link rel="canonical" href="{{ .Site.BaseURL }}"/>
<meta name="author" content="{{ if .Params.author }}{{ .Params.author }} | {{ end }}{{ .Site.Params.Author }}">
<title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
<meta property="og:title" content="{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}">
<meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.Description }}{{ end }}">
<meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.Description }}{{ end }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:url" content="{{ .Permalink }}" />
<meta name="keywords" content="{{ if .Keywords }}{{ .Keywords }}{{ else }}{{ .Site.Params.keywords }}{{ end }}">
<meta property="og:locale" content="en">
<meta property="og:type" content="website"/>
{{ if .Params.og_image }}
<meta property="og:image" content="{{ .Params.og_image | relURL }}"/>
<meta property="og:image:secure_url" content="{{ .Params.og_image | absURL }}"/>
{{ else }}
<meta property="og:image" content="{{ .Site.BaseURL }}{{ .Site.Params.og_image | relURL }}"/>
<meta property="og:image:secure_url" content="{{ .Site.Params.og_image | absURL }}"/>
{{ end }}
<!-- Twitter Meta Tags -->
<meta name="twitter:dnt" content="on">
<meta name="twitter:site" content="{{.Site.Params.twitter}}">
<meta name="twitter:card" content="summary_large_image">
<base href="{{ .Site.BaseURL }}">
<link rel="stylesheet" type="text/css" href="./style/googlefont.css">
<link rel="stylesheet" type="text/css" href="./style/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="./fontawesome-free-5.10.1-web/css/all.css">
{{ $sassTemplate := resources.Get "style/nav.css" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/nav.css" . | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
{{ $sassTemplate := resources.Get "style/linkstyles.scss" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/linkstyles.scss" . | resources.ToCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">