{{ $imagesrc := print .Permalink (cond (isset $.Page.Params "og_image") $.Page.Params.og_image $.Site.Params.og_image | relURL) }}
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<link rel="shortcut icon" href="{{ .Site.Params.fav_icon | absURL }}" />
<link rel="apple-touch-icon" href= "{{ .Site.Params.fav_icon | absURL }}" />
<link rel="dns-prefetch" href="{{ .Site.BaseURL }}">
<link rel="preconnect" href="{{ .Site.BaseURL }}">
<!-- Link Tags -->
<base href="{{ .Permalink }}">
<link rel="canonical" href="{{ .Permalink }}" itemprop="url" /> 
<meta name="url" content="{{ .Permalink }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<!-- Title Tags -->
<meta name="author" content="{{ if .Params.author }}{{ .Params.author }}{{ else }}{{ .Site.Params.Author }}{{ end }}">
<title>{{ if .Title }}{{ .Title }} | Symphony ECO{{ else }}{{ .Site.Title }}{{ end }}</title>
<meta property="og:title" content="{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}">
<meta property="og:site_name" content="{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}">
<!-- Description Tags# -->
<meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.Description }}{{ end }}">
<meta itemprop="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.Description }}{{ end }}" />
<meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.Description }}{{ end }}">
<meta name="keywords" content="{{ if .Keywords }}{{ .Keywords }}{{ else }}{{ .Site.Params.keywords }}{{ end }}">
<!-- Language Tags -->
<meta property="og:locale" content="en">
<!-- robot meta tags -->
{{ if and (eq .Kind "taxonomy") (eq .Type "categories")}}
<meta name="robots" content="noindex, follow"/>
<meta name="googlebot" content="noindex,follow" />
{{ else }}
<meta name="robots" content="index, follow"/>
<meta name="googlebot" content="index,follow" />
{{ end }}
<!-- schema org -->
{{ if eq .Section "news" }} 
<script defer type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "headline": {{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }},
    "author": {
      "@type": "Person",
      "name": "{{ if .Params.author }}{{ .Params.author }}{{ else }}{{ .Site.Params.Author }}{{ end }}"
    },
    "datePublished": "{{ .Date.Format "2006-01-02" }}",
    "description": {{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.Description }}{{ end }},
    "wordCount": {{ .WordCount }},
    "mainEntityOfPage": "True",
    "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",
    "image": {
      "@type": "imageObject",
      "url": "{{ $imagesrc }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ .Site.Params.Author }}",
      "logo": {
        "@type": "imageObject",
        "url": "{{ .Site.Params.og_image | absURL }}"
      }
    }
  }
</script>
<meta property="og:type" content="article"/>
{{ else }}
<script defer type="application/ld+json">
  { 
    "@context": "http://schema.org", 
    "@type": "WebSite", 
    "url": "{{ .Permalink }}", 
    "sameAs": [
      "{{ .Site.Params.facebookLink }}", 
      "{{ .Site.Params.instagramLink }}",
      "{{ .Site.Params.twitterLink }}",
      "{{ .Site.Params.linkedinLink }}"
    ], 
    "name": "{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}", 
    "logo": "{{ .Site.Params.fav_icon | absURL }}" 
  }
</script>
<meta property="og:type" content="website"/>
{{ end }}
<!-- Image Tags# -->
<meta property="og:image" content="{{ $imagesrc }}"/>
<meta property="og:image:secure_url" content="{{ $imagesrc }}"/>
<meta name="twitter:image" content="{{ $imagesrc  }}" />
<meta name="twitter:image:src" content="{{ $imagesrc }}" /> 
<meta property="og:updated_time" content={{ .Lastmod.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />
<!-- Twitter Meta Tags -->
<meta name="twitter:dnt" content="on">
<meta name="twitter:url" content="{{ .Permalink }}" /> 
<meta name="twitter:title" content="{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}" />
<meta name="twitter:site" content="{{.Site.Params.twitter}}">
<meta name="twitter:creator" content="{{.Site.Params.twitter}}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.Description }}{{ end }}" />
<!-- sitemap -->
<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ .Site.BaseURL }}sitemap.xml" /> 
<!-- stylesheets -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
<link rel="preload" href="{{ .Site.BaseURL }}/style/googlefont.css" as="style" onload="this.rel='stylesheet'">
<!-- <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css"> -->
{{ $bootstrap := resources.Get "style/bootstrap.min.css" }}
{{ $navstyle := resources.Get "style/nav.css" | resources.ExecuteAsTemplate "style/nav.css" .}}
{{ $linkstyle := resources.Get "style/linkstyles.scss" | resources.ExecuteAsTemplate "style/linkstyles.scss" . | resources.ToCSS }}
<!-- bundle css ressources together -->
{{ $css := slice }}
{{ $css := $css | append $bootstrap $navstyle $linkstyle }}
{{ $globalCSS := $css | resources.Concat "style/global.css" | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $globalCSS.Permalink }}" media="screen">

