<div class="processCards">

  {{range $index, $element := .Params.process }}

  <div class="processCard mx-0 mx-md-2">
    <div class="processCard__image-holder">
      {{ $resources := resources.Get .image }}
        {{ $lqipw := default "20x" }}
        {{ $lqip := $resources.Resize $lqipw }}
          <img
            class="lazyload processCard__image"
            data-sizes="auto"
            src="{{ $lqip.RelPermalink }}"
            data-src="{{ $resources.RelPermalink }}"
            width="100%"
            alt="{{if .imagealttext}}{{.imagealttext | markdownify}}{{else}}processcard{{ end }}" class="processCard__image" >
          <noscript>
            <img
              loading="lazy"
              src="{{ $resources.RelPermalink }}"
              width="100%"
              alt="{{if .imagealttext}}{{.imagealttext | markdownify}}{{else}}processcard{{ end }}" class="processCard__image" >
          </noscript>
    </div>
    <div class="processCard-title">
      <a href="#" class="toggle-cardInfo btnCard">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
        {{ $element.name | markdownify }} 
        <small>{{ $element.subtext | markdownify }}</small>
      </h2>
    </div>
    <div class="processCard-flap flap1">
      <div class="processCard-description">
        {{ $element.description | markdownify }}
      </div>
      <div class="processCard-flap flap2">
        <div class="processCard-description">
          {{ $element.description2 | markdownify }}
        </div>
        <div class="processCard-flap flap3">
          <div class="processCard-description">
            {{ $element.description3 | markdownify }}
          </div>
        </div>
      </div>

    </div>
  </div>
<!--     {{ if eq $index 2 }}
    <div class="w-lg-100"></div>
    {{ end }} -->
  {{ end }}
</div>
