<div class="processCards">

  {{range $index, $element := .Params.process }}

  <div class="processCard">
    <div class="processCard__image-holder">
      <img class="processCard__image" src="{{ .image | safeHTML }}" alt="{{if .imagealttext}}{{.imagealttext | markdownify}}{{else}}processcard{{ end }}" />
    </div>
    <div class="processCard-title">
      <a href="#" class="toggle-cardInfo btnCard">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
        {{ $element.name | markdownify }} 
        <small>{{ $element.subtext | markdownify }}</small>
      </h2>
    </div>
    <div class="processCard-flap flap1">
      <div class="processCard-description">
        {{ $element.description | markdownify }}
      </div>
      <div class="processCard-flap flap2">
        <div class="processCard-description">
          {{ $element.description2 | markdownify }}
        </div>
      </div>
    </div>
  </div>
<!--     {{ if eq $index 2 }}
    <div class="w-lg-100"></div>
    {{ end }} -->
  {{ end }}
</div>
