<div class="parallaxCard">
  <div class="cardcontainer">
    <div class="cardfront cardside">
      <div class="parallaxContent">
        <h1>Hakkam Abdullah</h1>
        <p>I am a graphic designer and art director. I am as well specialised in front end web design, user experience and creating identities. Throughout my career, I have worked with companies of all shapes and sizes that enriched my experience
        </p>
      </div>
    </div>
    <div class="cardback cardside">
      <div class="parallaxContent">
        <h1>More details</h1>
      </div>
    </div>
  </div>
</div>