{{ $bgImageFront := .Params.quizbgimagefront }}
{{ $bgImageBack := .Params.quizbgimageback }}
{{ range .Params.quizcards }}
<div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 p-0 p-xl-0">
  <div class="parallaxCard">
    {{ $cardname := .imagetitle | lower }}
    {{ $matchfront :=  (printf "%s%s" $cardname "front*")   }}
    {{ $classname := (printf "%s%s" "." $cardname )}} 
    {{if $.Resources.Match ($matchfront) }}
    {{ $resource := $.Resources.GetMatch ($matchfront)  }}
        {{ with $resource }}
        {{ $largesize := int (cond (isset $.Page.Params "sizelarge") $.Page.Params.sizelarge $.Site.Params.resizelarge) }}
        {{ $mediumsize := int (cond (isset $.Page.Params "sizemedium") $.Page.Params.sizemedium $.Site.Params.resizemedium) }}
        {{ $smallsize := int (cond (isset $.Page.Params "sizesmall") $.Page.Params.sizesmall $.Site.Params.resizesmall) }}
          
        {{ $smallw := default (print $smallsize "x") }}
        {{ $mediumw := default (print $mediumsize "x") }}
        {{ $lqipw := .Resize "20x" }}
        {{ $smartphone1 := .Resize "800x q80" }}
        {{ $tiny := .Resize "600x q95" }}
        {{ $small := .Resize $smallw }}
        <style>
            .cardfront{{$classname}} {
                background-image:url('{{ $small.RelPermalink | absURL }}');
            }
          @media (max-width: 2200px) {
            .cardfront{{$classname}} {
                background-image:url('{{ $tiny.RelPermalink | absURL }}');
            }
          }
          @media (max-width: 1500px)  {
            .cardfront{{$classname}} {
                background-image:url('{{ $smartphone1.RelPermalink | absURL }}');
            }
          }   
          .lazy.cardfront{{$classname}} {
            background-image:url('{{ $lqipw.RelPermalink | absURL }}');
          } 
          </style>
    {{ end }}
    {{ else if isset . "bgimagefront"}}
      <style> .cardfront{{$classname}}   { background-image: url("{{ .bgimagefront | absURL }}");}</style>
    {{ else if $bgImageFront }} 
      <style> .cardfront{{$classname}}  { background-image: url("{{ $bgImageFront | absURL }}");}</style>
    {{ end }}
    {{ $matchback :=  (printf "%s%s" $cardname "back*")   }}
    {{if $.Resources.Match ($matchback) }}
    {{ $resource := $.Resources.GetMatch ($matchback)  }}
        {{ with $resource }} 
        {{ $largesize := int (cond (isset $.Page.Params "sizelarge") $.Page.Params.sizelarge $.Site.Params.resizelarge) }}
        {{ $mediumsize := int (cond (isset $.Page.Params "sizemedium") $.Page.Params.sizemedium $.Site.Params.resizemedium) }}
        {{ $smallsize := int (cond (isset $.Page.Params "sizesmall") $.Page.Params.sizesmall $.Site.Params.resizesmall) }}
        
        {{ $smallw := default (print $smallsize "x") }}
        {{ $mediumw := default (print $mediumsize "x") }}
        {{ $largew := default (print $largesize "x")}}
        {{ $lqipw := .Resize "20x" }}
        {{ $smartphone1 := .Resize "800x q80" }}
        {{ $tiny := .Resize "600x q95" }}
        {{ $small := .Resize $smallw }}
        <style>
            .cardback{{$classname}} {
                background-image:url('{{ $small.RelPermalink | absURL }}');
            }
          @media (max-width: 2200px) {
            .cardback{{$classname}} {
                background-image:url('{{ $tiny.RelPermalink | absURL }}');
            }
          }
          @media (max-width: 1500px)  {
            .cardback{{$classname}} {
                background-image:url('{{ $smartphone1.RelPermalink | absURL }}');
            }
          }   
          .lazy.cardback{{$classname}} {
            background-image:url('{{ $lqipw.RelPermalink | absURL }}');
          }         
          </style>
    {{ end }}
    {{ else if isset . "bgimageback"}}
      <style> .cardback{{$classname}}   { background-image: url("{{ .bgimageback | absURL }}");}</style>
    {{ else if $bgImageBack }} 
      <style> .cardback{{$classname}}  { background-image: url("{{ $bgImageBack | absURL }}");}</style>
    {{ end }}
    <div class="cardcontainer">
      <div class="lazy cardfront cardside {{ $cardname }}">
        <div class="parallaxContent">
          <h2>{{ .titlefront | markdownify | upper }}</h2>
          <p>{{ .textfront | markdownify }}</p>
        </div>
        <div class="afteroverlay"></div>
      </div>
      <div class="lazy cardback cardside {{ $cardname}}">
        <div class="parallaxContent">
          <h2>{{ .titleback | markdownify }}</h2>
          <p>{{ .textback | markdownify }}</p>
        </div>
        <div class="afteroverlay"></div>
      </div>
    </div>
  </div>
</div>
{{ end }}