<div class="container">
  <div class="row justify-content-center"> 
      {{ range .Site.Data.textSlider.slides }}
      <div class="col-10  col-sm-10  col-lg-8  align-self-center textslide">
        <div class="large-3 columns nopad border-bot" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500"></div>
        <div class="subheading" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
                <h2>{{ .caption }}</h2>
        </div>
        <div class="large-3 columns nopad border-bot " data-aos="fade-up" data-aos-delay="0" data-aos-duration="500"></div>
        <div class="header-text" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
                <p>{{ .description }}  </p>         
        </div>
      </div>
      {{ end }}
  </div>
</div>