<div class="container pb-4" style="padding-top:15%;">
  <div class="row align-items-start"> 
      {{ range .Site.Data.textSlider.slides }}
      <div class="col-12 col-md-7 offset-md-2   textslide">


              <div class="subheading pb-3" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
                      <h1>{{ .caption }}</h1>
              </div>

              <div class="header-text" data-aos="fade-up" data-aos-delay="400">
                      <p>{{ .description }}  </p>         
              </div>

      </div>
      {{ end }}
  </div>
</div>