{{ define "HTMLStyle" }}
<html lang="en" class="no-js">
{{ end }}

{{ define "extrahead" }}
<link href="./style/aos.css" rel="stylesheet">
{{ $sassTemplate := resources.Get "style/waves.css" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/waves.css" . | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
{{ $sassTemplate := resources.Get "style/news.scss" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/news.scss" . | resources.ToCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity}}" media="screen">
{{ $sassTemplate := resources.Get "style/quote.scss" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/quote.scss" . | resources.ToCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
{{ $sassTemplate := resources.Get "style/expandInfoCard.scss" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/expandInfoCard.scss" . | resources.ToCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
{{ $sassTemplate := resources.Get "style/textslider.scss" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/textslider.scss" . | resources.ToCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
{{ $sassTemplate := resources.Get "style/cardHover.scss" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/cardHover.scss" . | resources.ToCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity}}" media="screen">
{{ $sassTemplate := resources.Get "style/oceanSlider.scss" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/oceanSlider.scss" . | resources.ToCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity}}" media="screen">
{{ end }}

{{ define "extraScript" }}
<script src="./js/poly-animal.js"></script>
<script src="./js/aos.js"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
   AOS.init({
       duration: 2000,
       delay: 1,
       once: true,
       disable: 'mobile'
   });
</script>
{{ end }}

{{ define "BodyStyle" }}blue-gradient-bg{{ end }}

{{ define "main" }}
<section class="p-0 pb-5" id="">
    {{ partial "oceanSlider.html" . }}
 </section>
<!--end of Header-->
<!-- TextSlider 1 -->
<section id="aboutus" class="px-0 py-5 px-lg-5">
    <div class="container" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
        <div class="row justify-content-center"> 
            <div class="col-10  col-sm-10  col-lg-10 col-xl-8  align-self-center motivationText">
                <div class="large-3 columns nopad border-bot aos-init aos-animate" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500"></div>
                <div class="subheading aos-init aos-animate" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
                        <h2>{{ (index .Params.slides 0).caption }}</h2>
                </div>
                <div class="large-3 columns nopad border-bot aos-init aos-animate" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500"></div>
                <div class="header-text aos-init aos-animate" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
                        <p>{{ (index .Params.slides 0).description }}
                        </p>         
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End TextSlider 1 -->
<!-- About Us-->
<section class="about p-0  pb-5 pt-5 " id="about">
    <div class="container">
        <div class="row">
            <div  class="col-12"  data-aos="fade-up" data-aos-delay="100">
                <div class="cardHover-content">
                {{ range .Site.Data.aboutUs.cards }}
                    <div class="cardHover">
                        <div class="card-content">
                            <div class="labelHidden collapsed" data-toggle="collapse" data-target="#{{ .marker }}" aria-expanded="false" aria-controls="{{ .marker }}">{{ .caption }}</div>
                            <div class="collapse dont-collapse-sm card-content " id="{{ .marker }}">
                                <h2 class="title">{{ .caption | safeHTML}}</h2>
                                <p class="copy" style="margin-top: 1rem;">{{ .description  | safeHTML}}</p>
                            </div>
                        </div>
                    </div>
                {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
<!--end of about us-->
<!-- TextSlider 2 -->
<section id="service" class="px-0 py-5 px-lg-5">
    <div class="container" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
        <div class="row justify-content-center"> 
            <div class="col-10  col-sm-10  col-lg-10 col-xl-8 align-self-center motivationText">
                <div class="large-3 columns nopad border-bot aos-init aos-animate" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500"></div>
                <div class="subheading aos-init aos-animate" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
                    <h2>{{ (index .Params.slides 1).caption }}</h2>
                </div>
                <div class="large-3 columns nopad border-bot aos-init aos-animate" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500"></div>
                <div class="header-text aos-init aos-animate" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
                        <p>{{ (index .Params.slides 1).description }}
                        </p>         
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End TextSlider 2 -->
<!--begin of Service Section-->
<section class="service-slider pt-5 py-md-5 px-0 ">
        {{ partial "serviceCard.html" . }}
</section>
<!--end of Service Section-->
<!-- TextSlider 3 -->
<section class="px-0 py-5 px-lg-5" id="news">
    <div class="container" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
        <div class="row justify-content-center"> 
            <div class="col-10  col-sm-10  col-lg-10 col-xl-8  align-self-center motivationText">
                <div class="large-3 columns nopad border-bot aos-init aos-animate" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500"></div>
                <div class="subheading aos-init aos-animate" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
                        <h2>{{ (index .Params.slides 2).caption }}</h2>
                </div>
                <div class="large-3 columns nopad border-bot aos-init aos-animate" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500"></div>
                <div class="header-text aos-init aos-animate" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
                        <p>{{ (index .Params.slides 2).description }}
            </p>         
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End TextSlider 3 -->
<!-- recent post -->
<section class="news ">
    <div class="container py-5" >
      <div class="row">
        {{ range last 3 (where .Site.RegularPages "Type" "post")}}
        <div class="col-lg-4 pb-3 pb-lg-0">
            <article class="card p-2" style="background: white;height: 100%;">
                {{ .Render "post" }}
            </article>
          </div>
        {{ end }}
        </div>
    </div>
</section>
  <!-- /recent post -->
  <!-- TextSlider 3 -->
<section class="px-0 py-5 px-lg-5" id="social">
    <div class="container" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
        <div class="row justify-content-center"> 
            <div class="col-10  col-sm-10  col-lg-10 col-xl-8  align-self-center motivationText">
                <div class="large-3 columns nopad border-bot aos-init aos-animate" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500"></div>
                <div class="subheading aos-init aos-animate" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
                        <h2>{{ (index .Params.slides 2).caption }}</h2>
                </div>
                <div class="large-3 columns nopad border-bot aos-init aos-animate" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500"></div>
                <div class="header-text aos-init aos-animate" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
                        <p>{{ (index .Params.slides 2).description }}
            </p>         
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End TextSlider 3 -->
<!-- Social Media Integration -->
<section class="twitter py-5 mt-3" id="">
    <div data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000" class="container">
        <div class="row">
            <div class="col-12 px-1">
                <div class="row justify-content-center">
                    <div class="pb-3 pb-md-0 col-10  col-sm-8 col-md-5 col-lg-4 align-self-center">
                        <a class="twitter-timeline" href="https://twitter.com/{{ .Site.Params.twitterhandle }}" data-conversation="none" data-chrome="nofooter" data-cards="hidden" data-width="100%" data-height="350" data-theme="light" ></a>
                    </div>
                    <div class="col-10 col-sm-8  col-md-5 col-lg-4 align-self-center">
                        <div class="fb-page" style="margin: 0 auto;display: block;" data-href="https://www.facebook.com/symphony.eco" data-tabs="timeline" data-width="500" data-height="350" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/symphony.eco" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/symphony.eco"></a></blockquote></div>
                    </div>
            </div>

        </div>
    </div>
</section>
<!-- End Media Integration -->
<!-- Footer -->
{{ partial "wave.html" . }}
<section class="footer px-0 pb-0 p-md-0" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12 py-0 px-0 ">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-2 text-center order-last order-lg-first">
                        <svg id="polyAnimal" class="svgcool" viewBox="0 0 1000 1000">
                        </svg>    
                    </div>
                    <div class="col-12 col-lg-7 pb-md-0">
                        <div class="box quote">
                            <blockquote>
                                <p>“You cannot get through a single day without having an impact on the world around you. What you do makes a difference, and you have to decide what kind of difference you want to make.”</p> <cite>Jane Goodall</cite>
                            </blockquote>  
                        </div>              
                    </div>
                    <div class="col-12 col-lg-3 pt-5 pt-lg-0 px-0 order-first order-lg-last">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-12 footer-link px-0">
                                    <div class="box">
                                            <div class="social">
                                                <div class="row align-items-center justify-content-center">
                                                    <div class="col-auto align-self-center px-0 footer-box">
                                                        <a href="{{ .Site.Params.facebookLink }}" class="facebook">
                                                            <i class="fab fa-facebook-f"></i>
                                                        </a>
                                                    </div>
                                                    <div class="col-auto align-self-center px-0 footer-box">
                                                        <a href="{{ .Site.Params.instagramLink }}" class="instagram">
                                                            <i class="fab fa-instagram"></i>
                                                        </a>
                                                    </div>
                                                    <div class="col-auto align-self-center px-0 footer-box">
                                                        <a href="{{ .Site.Params.twitterLink }}" class="twitter">
                                                            <i class="fab fa-twitter"></i>
                                                        </a>
                                                    </div>
                                                    <div class="w-sm-100 w-lg-100"></div>
                                                    <div class="col-auto align-self-center px-0 footer-box">
                                                        <a href="{{ .Site.Params.twitterLink }}" class="linkedin">
                                                            <i class="fab fa-linkedin-in"></i>
                                                        </a>
                                                    </div>
                                                    <div class="col-auto align-self-center px-0 footer-box">
                                                        <a href="/legal/" target=”_blank”  class="footer-link">
                                                            <i class="fas fa-balance-scale"></i>
                                                        Legal and privacy</a>
                                                    </div>
                                                    <div class="col-auto align-self-center px-0 footer-box">
                                                        <a href="sitemap.xml" target=”_blank”  class="footer-link">
                                                            <i class="fas fa-sitemap"></i>SiteMap</a>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Footer -->
<!-- Social Media Facebook integration-->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>

{{ end }}