{{ define "HTMLStyle" }}
<html lang="en" prefix="og: http://ogp.me/ns#" class="no-js">
{{ end }}

{{ define "extrahead" }}
{{ $fontawesome := resources.Get "style/font-awesome.all.min.css" }}
{{ $waveStyle := resources.Get "style/waves.css" | resources.ExecuteAsTemplate "style/waves.css" .}}
{{ $newsStyle := resources.Get "style/news.scss" | resources.ExecuteAsTemplate "style/news.scss" . | resources.ToCSS  }}
{{ $quoteStyle := resources.Get "style/quote.scss" | resources.ExecuteAsTemplate "style/quote.scss" . | resources.ToCSS }}
{{ $infoCardStyle := resources.Get "style/expandInfoCard.scss" | resources.ExecuteAsTemplate "style/expandInfoCard.scss" . | resources.ToCSS }}
{{ $textsliderStyle := resources.Get "style/textslider.scss" | resources.ExecuteAsTemplate "style/textslider.scss" . | resources.ToCSS }}
<!-- bundle preload css ressources together -->
{{ $cssPreload := slice }}
{{ $cssPreload := $cssPreload | append $fontawesome $waveStyle $newsStyle $quoteStyle $infoCardStyle $textsliderStyle }}
{{ $preloadextraCSS := $cssPreload | resources.Concat "style/startsitepreloadextrastyle.css" | resources.Minify | resources.Fingerprint }}
<link rel="preload" href="{{ $preloadextraCSS.Permalink }}" as="style" onload="this.rel='stylesheet'">


{{ $aos := resources.Get "style/aos.css" }}
{{ $cardHoverstyle := resources.Get "style/cardHover.scss" | resources.ExecuteAsTemplate "style/cardHover.scss" . | resources.ToCSS }}
{{ $oceansliderStyle := resources.Get "style/oceanSlider.scss" | resources.ExecuteAsTemplate "style/oceanSlider.scss" . | resources.ToCSS }}
<!-- bundle css ressources together -->
{{ $css := slice }}
{{ $css := $css | append $aos $cardHoverstyle $oceansliderStyle }}
{{ $extraCSS := $css | resources.Concat "style/startsiteextrastyle.css" | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $extraCSS.Permalink }}" media="screen">
{{ end }}

{{ define "extraScript" }}

{{ $lazyloading := resources.Get "scripts/lazyloading.js" }}
{{ $lazysizes := resources.Get "scripts/lazysizes.min.js" }}
{{ $aosJs := resources.Get "scripts/aos.js"  }}

<!-- bundle script together -->
{{ $jsscript := slice }}
{{ $jsscript := $jsscript | append $lazyloading $lazysizes $aosJs}}
{{ $globalJS := $jsscript | resources.Concat "scripts/startsiteextraglobal.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $globalJS.Permalink }}" integrity="{{ $globalJS.Data.Integrity }}"></script>

<script>script('{{ .Site.BaseURL }}/js/poly-animal.js');</script>
<script>
    $.ajax({
      url: 'https://platform.twitter.com/widgets.js',
      dataType: 'script',
      cache: true, // or get new, fresh copy on every page load
      success: function() {
        // Callback
      }
    });</script>
<script >
   AOS.init({
       duration: 2000,
       delay: 100,
       once: true,
       disable: 'mobile'
   });
</script>
<!-- Social Media Facebook integration-->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>
{{ end }}

{{ define "BodyStyle" }}blue-gradient-bg{{ end }}

{{ define "main" }}
<section class="p-0 pb-5" id="">
    {{ partial "oceanSlider.html" . }}
 </section>
<!--end of Header-->
<!-- TextSlider 1 -->
<section id="aboutus" class="px-0 py-5 px-lg-5">
    <div class="container" data-aos="fade-up">
        <div class="row justify-content-center"> 
            <div class="col-10  col-sm-10  col-lg-10 col-xl-11  align-self-center motivationText">
                <div class="large-3 columns nopad border-bot aos-init aos-animate" data-aos="fade-up" ></div>
                <div class="subheading aos-init aos-animate" data-aos="fade-up" >
                        <h2>{{ (index .Params.slides 0).caption | safeHTML }}</h2>
                </div>
                <div class="large-3 columns nopad border-bot aos-init aos-animate" data-aos="fade-up" ></div>
                <div class="header-text aos-init aos-animate" data-aos="fade-up" >
                    <p>{{ (index .Params.slides 0).description | safeHTML }}
                    </p>        
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End TextSlider 1 -->
<!-- About Us-->
<section class="about p-0  pb-5 pt-5 " id="about">
    <div class="container">
        <div class="row">
            <div  class="col-12"  data-aos="fade-up">
                <div class="cardHover-content">
                {{ range .Params.cards }}
                    <div class="lazy cardHover">
                        <div class="card-content">
                            <div class="labelHidden collapsed" data-toggle="collapse" data-target=".{{ .marker }}" aria-expanded="false" aria-controls="{{ .marker }}">{{ .caption | safeHTML }}</div>
                            <div class="collapse dont-collapse-sm card-content card-content-down {{ .marker }}" >
                                <h2 class="title">{{ .caption | safeHTML }}</h2>
                                <p class="copy" style="margin-top: 1rem;">{{ .description  | safeHTML }}</p>
                            </div>
                        </div>
                    </div>
                {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
<!--end of about us-->
<!-- TextSlider 2 -->
<section id="service" class="px-0 py-5 px-lg-5">
    <div class="container" data-aos="fade-up">
        <div class="row justify-content-center"> 
            <div class="col-10  col-sm-10  col-lg-10 col-xl-11 align-self-center motivationText">
                <div class="large-3 columns nopad border-bot aos-init aos-animate"></div>
                <div class="subheading aos-init aos-animate" >
                    <h2>{{ (index .Params.slides 1).caption | safeHTML }}</h2>
                </div>
                <div class="large-3 columns nopad border-bot aos-init aos-animate" data-aos="fade-up" ></div>
                <div class="header-text aos-init aos-animate" data-aos="fade-up" >
                        <p>{{ (index .Params.slides 1).description | safeHTML }}
                        </p>         
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End TextSlider 2 -->
<!--begin of Service Section-->
<section class="service-slider pt-5 px-0 " data-aos="fade-up">
        {{ partial "serviceCard.html" . }}
</section>
<!--end of Service Section-->
<!-- TextSlider 3 -->
<section class="px-0 pb-5 pt-4 px-lg-5" id="news">
    <div class="container" data-aos="fade-up" >
        <div class="row justify-content-center"> 
            <div class="col-10  col-sm-10  col-lg-10 col-xl-11  align-self-center motivationText">
                <div class="large-3 columns nopad border-bot aos-init aos-animate" data-aos="fade-up" ></div>
                <div class="subheading aos-init aos-animate" data-aos="fade-up" >
                        <h2>{{ (index .Params.slides 2).caption | safeHTML }}</h2>
                </div>
                <div class="large-3 columns nopad border-bot aos-init aos-animate" data-aos="fade-up" ></div>
                <div class="header-text aos-init aos-animate" data-aos="fade-up" >
                        <p>{{ (index .Params.slides 2).description | safeHTML }}
            </p>         
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End TextSlider 3 -->
<!-- recent post -->
<section class="news pt-2">
    <div class="container py-5" >
      <div class="row">
        {{ range last 3 (where .Site.RegularPages "Type" "post")}}
        <div class="col-lg-4 pb-3 pb-lg-0">
            <article class="card p-2" style="background: white;height: 100%;">
                {{ .Render "post" }}
            </article>
          </div>
        {{ end }}
        </div>
    </div>
</section>
  <!-- /recent post -->
  <!-- TextSlider 3 -->
<section class="px-0 py-5 px-lg-5" id="social">
    <div class="container" data-aos="fade-up" >
        <div class="row justify-content-center"> 
            <div class="col-10  col-sm-10  col-lg-10 col-xl-11  align-self-center motivationText">
                <div class="large-3 columns nopad border-bot aos-init aos-animate" data-aos="fade-up" ></div>
                <div class="subheading aos-init aos-animate" data-aos="fade-up" >
                        <h2>{{ (index .Params.slides 3).caption | safeHTML }}</h2>
                </div>
                <div class="large-3 columns nopad border-bot aos-init aos-animate" data-aos="fade-up" ></div>
                <div class="header-text aos-init aos-animate" data-aos="fade-up" >
                        <p>{{ (index .Params.slides 3).description | safeHTML }}
            </p>         
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End TextSlider 3 -->
<!-- Social Media Integration -->
<section class="twitter py-5 mt-3" id="">
    <div data-aos="fade-up" class="container">
        <div class="row">
            <div class="col-12 px-1">
                <div class="row justify-content-center">
                    <div class="pb-3 pb-md-0 col-10  col-sm-8 col-md-5 col-lg-4 align-self-center">
                        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/{{ .Site.Params.twitterhandle }}" data-conversation="none" data-chrome="nofooter" data-cards="hidden" data-width="100%" data-height="350" data-theme="light" ></a>
                    </div>
                    <div class="col-10 col-sm-8  col-md-5 col-lg-4 align-self-center">
                        <div class="fb-page" style="margin: 0 auto;display: block;" data-href="https://www.facebook.com/symphony.eco" data-tabs="timeline" data-width="500" data-height="350" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/symphony.eco" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/symphony.eco"></a></blockquote></div>
                    </div>
            </div>

        </div>
    </div>
</section>
<!-- End Media Integration -->
<!-- Footer -->
{{ partial "wave.html" . }}
{{ partial "footer.html" . }}
<!-- End Footer -->
{{ end }}