{{ define "extrahead" }}
<link rel="stylesheet" href="./style/nouislider-14.0.3.min.css">
{{ $sassTemplate := resources.Get "style/quizCard.scss" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/quizCard.scss" . | resources.ToCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
{{ $sassTemplate := resources.Get "style/contact.scss" }}
{{ $style := $sassTemplate | resources.ExecuteAsTemplate "style/contact.scss" . | resources.ToCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
{{ end }}

{{ define "BodyStyle" }}contactBgImage{{ end }}

{{ define "extraScript" }}
<script src="./js/wNumb.js"></script>
<script src="./js/vue-2.1.10.min.js"></script>
<script src="./js/nouislider-14.0.3.min.js"></script>
<script src="./js/contact.js"></script>
<script>
  function showValues() {
    var str = $("#form-3").serialize();
    $( "#results" ).text( str );
  }
  $(".btn-success").click(function () {
      showValues();
  });
  $( "input" ).on( "change", showValues );
  showValues();
</script>
{{ end }}

{{ define "main" }}
<section id="contactForm" class="contactForm p-0" >
  <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 p-0 align-self-center">
          {{ partial "contactcard.html" . }}
        </div>
      </div>
    </div>
</section>
{{ end }}
